// Fencing page
//////////////////////////////////////////////////////

.fencing {

    /*#fencing__tickets {

        #block-06 .image {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }
        #block-07 .image {
            background: url(#{$image-path}main-back-01.jpg) transparent center center no-repeat;
            background-size: cover;
        }
    }*/

    #fencing__schedule {
        padding-top: $size;
        padding-bottom: $size * 2;
        background: $gray-light;

        .section-header {
            padding-bottom: 0;
            color: $white;
        }

        .schedule__control {
            text-align: center;
            @include text($font-size-normal, $sans-bold-font-weight);

            .dates {
                display: inline-block;
                margin: 0 $size;
                color: $gray-medium;
            }

            a {
                color: $white;

                &:hover {
                    color: $main-color;
                }
            }
        }

        .type-01 {
            background: lighten($main-color, 5%);
        }
        .type-02 {
            background: $second-color;
        }
        .type-03 {
            background: $third-color;
        }

        .schedule__types {
            text-align: center;
            margin-top: $size;
            margin-bottom: $size;

            .type {
                color: $white;
                padding: ($size / 2) $size;
                text-transform: uppercase;
                @include text($font-size-small, $sans-bold-font-weight);
            }
        }
    }

    /*#fencing__bottom {
        #block-08 .image {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }
        #block-09 .image {
            background: url(#{$image-path}main-back-01.jpg) transparent center center no-repeat;
            background-size: cover;
        }
        #block-10 .image {
            background: url(#{$image-path}main-back-02.jpg) transparent center center no-repeat;
            background-size: cover;
        }
    }*/
}
