// Mainpage
//////////////////////////////////////////////////////

.main {

    $section-top-height: 460px;
    $section-top-height-mobile: 250px;

    #main__section-top {
        position: relative;

        .image-block {
            @extend %active-images;
            position: relative;
        }
    }

    #top__block-01 {
        background: $gray-light;
        min-height: $section-top-height;
        overflow: hidden;

        /*#block-01-image {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }*/

        .photoswipe-wrapper,
        .photoswipe-item, {
            height: $section-top-height;
            line-height: $section-top-height;

            .video {
                .img-responsive {
                    visibility: hidden;
                }
            }
        }

        .overlay {
            pointer-events: none;
            text-align: center;
            font-size: 120px;
            line-height: $section-top-height;
            color: fade-out($white, 0.5);
        }

        @include lg-and-md {
            @include transition(color $transition-duration $transition-timing-function $transition-delay);

            &:hover {
                .overlay {color: $white;}
            }
        }

        @include mobile {
            min-height: $section-top-height-mobile;

            .photoswipe-wrapper,
            .photoswipe-item, {
                height: $section-top-height-mobile;
            }

            .overlay {line-height: $section-top-height-mobile;}
        }
    }

    #top__block-02 {
        min-height: $section-top-height;

        @include mobile {
            min-height: $section-top-height-mobile;
        }

        #block-01,
        #block-02 {
            min-height: $section-top-height / 2;

            .header {
                display: inline-block;
                position: absolute;
                left: 0;
                color: fade-out($white, 0.25);
                text-transform: uppercase;
                padding: ($size / 2) $size;
                pointer-events: none;
                @include text($font-size-super, $sans-bold-font-weight);
                @include transition(color $transition-duration $transition-timing-function $transition-delay);

                @include mobile {
                    @include text($font-size-large, $sans-bold-font-weight);
                }
            }

            @include lg-and-md {
                &:hover {
                    .header {color: $white;}
                }
            }
        }

        /*#block-02-image-01 {
            background: url(#{$image-path}main-back-01.jpg) transparent center center no-repeat;
            background-size: cover;
        }

        #block-02-image-02 {
            background: url(#{$image-path}main-back-02.jpg) transparent center center no-repeat;
            background-size: cover;
        }*/

        #block-01 {
            .header {
                bottom: 0;
                background: $second-color;
            }
        }
        #block-02 {
            .header {
                top: 0;
                background: $third-color;
            }
        }

        @include mobile {
            min-height: $section-top-height-mobile;

            .block-01,
            .block-02 {
                min-height: $section-top-height-mobile;
            }
        }
    }

    #main__section-icons {
        position: relative;
        padding-top: $size * 3;
        padding-bottom: $size * 3;
        text-align: center;

        .overlay {
            background: url(#{$image-path}pattern-03.png) top right no-repeat,
                        url(#{$image-path}pattern-04.png) bottom left no-repeat;
            @include opacity(0.25);
        }

        .icon-block {
            margin: 0 auto;
            line-height: 92px;
            font-size: 50px;
            @include border-radius(50%);
            @include size(100px, 100px);
        }

        h3 {
            text-transform: uppercase;
            font-weight: $sans-bold-font-weight;
        }

        .row > div {
            &:nth-child(1) {
                h3, .icon-block {
                    color: $main-color;
                }
                .icon-block {
                    background: fade-out($main-color, 0.8);
                    border: 4px solid $main-color;
                    @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size * 10, $shadow-stretch, fade-out($main-color, 0.5));
                }
            }
            &:nth-child(2) {
                h3, .icon-block {
                    color: $second-color;
                }
                .icon-block {
                    background: fade-out($second-color, 0.8);
                    border: 4px solid $second-color;
                    @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size * 10, $shadow-stretch, fade-out($second-color, 0.5));
                }
            }
            &:nth-child(3) {
                h3, .icon-block {
                    color: $third-color;
                }
                .icon-block {
                    background: fade-out($third-color, 0.8);
                    border: 4px solid $third-color;
                    @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size * 10, $shadow-stretch, fade-out($third-color, 0.5));
                }
            }
        }

        @include md {
            .overlay {
                background: transparent;
            }

            h3 {
                @include text($font-size-small, $sans-bold-font-weight);
            }
        }

        @include sm-and-xs {
            padding-top: $size * 3;
            padding-bottom: $size * 3;

            .row > div:not(:last-child) {
                margin-bottom: $size * 2;
            }

            .overlay {
                background: transparent;
            }

            .icon-block {
                margin: 0 auto;
                line-height: 52px;
                font-size: 33px;
                @include border-radius(50%);
                @include size(60px, 60px);
            }

            h3 {
                margin-top: $size / 2;
                margin-bottom: 0;
                @include text($font-size-small, $sans-bold-font-weight);
            }
        }
    }

    #main__section-blocks {

        .block__image {
            @extend %active-images;
        }

        /*#block-03 .image {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }
        #block-04 .image {
            background: url(#{$image-path}main-back-01.jpg) transparent center center no-repeat;
            background-size: cover;
        }
        #block-05 .image {
            background: url(#{$image-path}main-back-02.jpg) transparent center center no-repeat;
            background-size: cover;
        }*/
    }
}
