// Club page
//////////////////////////////////////////////////////

.club {

    #club__section-top-image {
        padding-top: $size * 2;
        padding-bottom: $size * 2; 

        @include mobile {
            padding-top: $size;
            padding-bottom: $size;
        }
    }

    #club__section-top {
        background: $white;
        padding-top: $size * 2;
        padding-bottom: $size * 2;

        .img-responsive {
            margin: 0 auto ($size * 2);
        }

        h2 {
            font-weight: $sans-bold-font-weight;
        }

        ul {
            border: 4px solid $border-color;
            padding: $line-height-large-custom + ($size / 2);
        }

        @include sm-and-xs {
            padding-top: $size * 2;

            ul {
                margin-top: $size * 2;
                padding: $size $size $size ($size * 2);
            }
        }

        @include mobile {
            padding-bottom: $size;
        }
    }

    #club__section-coaches {
        background: $white;
        padding-bottom: $size * 3;

        .swiper-container-coaches {
            height: 400px;
        }

        /*#coach-01 .image {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }*/

        @include md-and-sm {
            .container {
                padding-left: $size * 4;
                padding-right: $size * 4;
            }
        }

        .coach {

            .image {
                margin-left: auto;
                @include size(300px, 300px);
                @include border-radius(50%);
            }

            .coach__text {
                padding-left: $size * 4;

                h3 {
                    @include text($font-size-large, $sans-bold-font-weight);
                }
                h4 {
                    @include text($font-size-normal, $sans-regular-font-weight);
                }
            }
        }

        @include sm-and-xs {

            .swiper-container-coaches {
                height: 550px;
            }

            .coach {
                .image {
                    margin: 0 auto ($size * 2);
                    @include size(200px, 200px);
                }

                .coach__text {
                    text-align: center;
                    padding-left: 0;

                    h3 {
                        @include text($font-size-normal, $sans-bold-font-weight);
                    }
                    h4 {
                        @include text($font-size-small, $sans-regular-font-weight);
                    }
                    p {
                        margin: 0 auto;
                        max-width: 500px;
                        @include text($font-size-xsmall, $sans-regular-font-weight);
                    }
                }
            }
        }

        @include mobile {
            .swiper-container-coaches {
                height: 500px;

                .swiper-button-prev,
                .swiper-button-next {
                    display: none;
                }
            }
        }
    }

    #club__section-sportsmans {
        padding-top: $size;
        padding-bottom: $size * 3;

        .swiper-container-sportsmans {
            height: 460px;
        }

        /*#sportsman-01 .image {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }*/

        @include md-and-sm {
            .container {
                padding-left: $size * 4;
                padding-right: $size * 4;
            }
        }

        .sportsman {

            .image {
                margin: 0 auto $size;
                @include size(200px, 200px);
                @include border-radius(50%);
            }

            .sportsman__text {
                max-width: 500px;
                margin: 0 auto;
                text-align: center;
                padding-left: $size;
                padding-right: $size;

                h3 {
                    @include text($font-size-normal, $sans-bold-font-weight);
                }
                h4 {
                    @include text($font-size-small, $sans-regular-font-weight);
                }
                p {
                     @include text($font-size-xsmall, $sans-regular-font-weight);
                }
            }
        }

        @include sm-and-xs {

            .swiper-container-sportsman {
                height: 600px;
            }
        }

        @include mobile {
            .swiper-container-sportsmans {
                .swiper-button-prev,
                .swiper-button-next {
                    display: none;
                }
            }
        }
    }

    #club__section-camp {
        background: $white;
        padding-top: $size;
        padding-bottom: $size * 3;

        .swiper-container-camp {
            height: 400px;
            margin-bottom: $size * 4;

            .swiper-slide {
                @include size(auto, 400px);

                .image {
                    @include size(auto, 400px);
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                color: $white;
                top: 50%;

                &:hover {
                    color: $main-color;
                }
            }

            &.swiper-container-horizontal > .swiper-pagination-bullets {
                bottom: -2 * $size;
            }
        }

        h3 {
            margin-bottom: $size;
        }

        .btn {
            margin-top: $size * 1.5;
        }

        .camp-form {
            @include lg-and-md {
                padding-left: $size * 2;
            }
        }

        @include sm {
            .form-style {
                max-width: 500px;
            }
        }

        @include sm-and-xs {
            h3 {
                margin-top: $size * 1.5;
                margin-bottom: $size * 1.5;
            }
            .form-style {
                margin: 0 auto;
            }
        }

        @include mobile {
            padding-bottom: $size * 2;

            .swiper-container-camp {
                height: 200px;

                .swiper-slide {
                    @include size(auto, 200px);

                    .image {
                        @include size(auto, 200px);
                    }
                }

                .swiper-button-prev,
                .swiper-button-next {
                    display: none;
                }
            }
        }

        @media (max-width: $screen-xs) {
            h2 {
                @include text($font-size-large * 0.9, $sans-bold-font-weight);
            }
        }
    }

    #club__section-gallery {
        padding-top: $size;
        padding-bottom: $size * 3;

        /*#gallery-video-01 {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }
        #gallery-image-01 {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }*/

        .gallery-item {
            @extend %active-images;
            position: relative;
            overflow: hidden;
            margin-bottom: $size;

            .photoswipe-wrapper,
            .photoswipe-item {
                @include size(100%, $gallery-item-height);
            }

            .video,
            .image {
                display: block;
                line-height: $gallery-item-height;
                @include size(100%, $gallery-item-height);

                .img-responsive {
                    display: inline-block;
                    vertical-align: middle;
                    visibility: hidden;
                }
            }

            .overlay {
                pointer-events: none;
                text-align: center;
                font-size: 120px;
                line-height: $gallery-item-height;
                color: fade-out($white, 0.5);
            }

            @include lg-and-md {
                @include transition(color $transition-duration $transition-timing-function $transition-delay);

                &:hover {
                    .overlay {color: $white;}
                }
            }
        }

        .section-footer {
            padding-top: $size;
            padding-bottom: $size;
        }
    }

}
