// Order pages
//////////////////////////////////////////////////////

.order {

}

/*
.halls {

    #order__halls {

        #block-11 .image {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }
        #block-12 .image {
            background: url(#{$image-path}main-back-01.jpg) transparent center center no-repeat;
            background-size: cover;
        }
    }
}

.spa {

    #order__spa {

        #block-13 .image {
            background: url(#{$image-path}main-back-00.jpg) transparent center center no-repeat;
            background-size: cover;
        }
        #block-14 .image {
            background: url(#{$image-path}main-back-01.jpg) transparent center center no-repeat;
            background-size: cover;
        }
    }
}
*/