// Club page
//////////////////////////////////////////////////////

.post {

    .post__section {
        padding-top: $size * 2;
        padding-bottom: $size * 3; 

        @include mobile {
            padding-top: $size;
            padding-bottom: $size;
        }

        h2 {
            margin-top: 0;
            margin-bottom: $size * 1.5;

            @include lg-and-md {
                @include text($font-size-super, $sans-bold-font-weight);
            }
            @include mobile {
                @include text($font-size-large, $sans-bold-font-weight);
            }
        }

        h3 {
            @include lg-and-md {
                @include text($font-size-large, $sans-bold-font-weight);
            }
            @include mobile {
                @include text($font-size-normal, $sans-bold-font-weight);
            }
        }

        .date {
            color: $gray-light;
            margin-bottom: 0;
            @include text($font-size-large, $sans-regular-font-weight);
        }

        .img-responsive {
            margin-bottom: $size * 1.5;
        }
    }

}
