// Страница Стиль и Песоцница
//////////////////////////////////////////////////////

.sandbox {

    .sandbox-header {
        background: $gray-light;
        color: $light-color;
        margin: 0;

        & + .container {
            padding-top: $size;
            padding-bottom: $size;
        }
    }

    .icon-list {
        margin-top: $size * 2;
        margin-bottom: $size * 2;

        > li {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            line-height: $font-size-large;
            margin-left: $size / 2;
            @include size($font-size-large, $font-size-large);
        }

        .fa, .icon {
            font-size: $font-size-large;
        }
    }

    .test-row {
        margin-top: $size;
        margin-bottom: $size;

        & > .row > div > div,
        &.flexbox > div {
            height: 250px;
            background: fade-out($main-color, 0.4);
        }
    }
}