// Typography
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////


$fonts-path: "../fonts/museosans/";

/*
@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('#{$fonts-path}museosans-300.eot'); 
    src: url('#{$fonts-path}museosans-300.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-path}museosans-300.woff2') format('woff2'),
         url('#{$fonts-path}museosans-300.woff') format('woff'),
         url('#{$fonts-path}museosans-300.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('#{$fonts-path}museosans-500.eot');
    src: url('#{$fonts-path}museosans-500.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-path}museosans-500.woff2') format('woff2'),
         url('#{$fonts-path}museosans-500.woff') format('woff'),
         url('#{$fonts-path}museosans-500.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url('#{$fonts-path}museosans-700.eot');
    src: url('#{$fonts-path}museosans-700.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-path}museosans-700.woff2') format('woff2'),
         url('#{$fonts-path}museosans-700.woff') format('woff'),
         url('#{$fonts-path}museosans-700.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

$sans-light-font-family: "MuseoSansCyrl-300", Helvetica, Arial, sans-serif;
$sans-medium-font-family: "MuseoSansCyrl-500", Helvetica, Arial, sans-serif;
$sans-bold-font-family: "MuseoSansCyrl-700", Helvetica, Arial, sans-serif;
*/


// Typographic Variables
//////////////////////////////////////////////////////

// Good line-height and letter-spacing
$line-height-base: 1.428571429;
$normal-letter-spacing: normal;

// Guide

$font-super-coefficient: 3;
$font-large-coefficient: 2.25;
$font-normal-coefficient: 1.7;
$font-small-coefficient: 1.2;
$font-xsmall-coefficient: 1;

$font-size-base-bootstrap: 14px;
$font-size-base: $font-size-base-bootstrap;
$font-size-super: round($font-size-base * $font-super-coefficient);
$font-size-large: round($font-size-base * $font-large-coefficient);
$font-size-normal: round($font-size-base * $font-normal-coefficient);
$font-size-small: round($font-size-base * $font-small-coefficient);
$font-size-xsmall: round($font-size-base * $font-xsmall-coefficient);

$line-height-computed: round($font-size-base-bootstrap * $line-height-base);
$line-height-super-custom: round($line-height-computed * $font-super-coefficient);
$line-height-large-custom: round($line-height-computed * $font-large-coefficient);
$line-height-normal-custom: round($line-height-computed * $font-normal-coefficient);
$line-height-small-custom: round($line-height-computed * $font-small-coefficient);
$line-height-xsmall-custom: round($line-height-computed * $font-xsmall-coefficient) + 1;

$sans-font-family: 'PT Sans', Verdana, Helvetica, Arial, sans-serif;
$sans-regular-font-weight: 400;
$sans-bold-font-weight: 700;


// Typographic Mixin - поправить под общий случай!!!
//////////////////////////////////////////////////////

// Используем одну, только одну, Карл, универсальную примесь для всех случаев!!!!!!!!!!

@mixin text($font-size, $font-weight) {
    font-family: $sans-font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $normal-letter-spacing;

    @if $font-size == $font-size-super {
        line-height: $line-height-super-custom;
    } @else if $font-size == $font-size-large {
        line-height: $line-height-large-custom;
    } @else if $font-size == $font-size-normal {
        line-height: $line-height-normal-custom;
    } @else if $font-size == $font-size-small {
        line-height: $line-height-small-custom;
    } @else if $font-size == $font-size-xsmall {
        line-height: $line-height-xsmall-custom;
    } @else {
        line-height: ceil(($font-size * $line-height-base));
    }
}


// Typographic Base
//////////////////////////////////////////////////////

body {
    font-family: $sans-font-family;
    font-size: $font-size-base-bootstrap;
}

a {
    font-family: $sans-font-family;
}

// Обычный параграф
p {
    @include text($font-size-small, $sans-regular-font-weight);
    margin-bottom: $size;

    a {
        @include link-style($active-color, true);
    }
}

// Заголовки по умолчанию

h1 {
    @include text($font-size-large, $sans-bold-font-weight);
}

h2 {
    @include text($font-size-large, $sans-regular-font-weight);
}

h3 {
    @include text($font-size-normal, $sans-regular-font-weight);
}

h4 {
    @include text($font-size-small, $sans-regular-font-weight);
}

h5 {
    @include text($font-size-xsmall, $sans-bold-font-weight);
}

h6 {
    @include text($font-size-xsmall, $sans-regular-font-weight);
}

h1, h2, h3, h4 {
    &:first-child {
        margin-top: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: $gray-medium;
}

strong {
    font-weight: $sans-bold-font-weight;
}


// Custom Icon Fons
//////////////////////////////////////////////////////

$custom-font-path: "../../web/fonts/custom-font/";
$custom-font-name: "fontello";

@font-face {
    font-family: #{$custom-font-name};
    src: url("#{$custom-font-path}#{$custom-font-name}.eot?");
    src: url("#{$custom-font-path}#{$custom-font-name}.eot?#iefix") format("embedded-opentype"),
         url("#{$custom-font-path}#{$custom-font-name}.woff?") format("woff"),
         url("#{$custom-font-path}#{$custom-font-name}.woff2?") format("woff2"),
         url("#{$custom-font-path}#{$custom-font-name}.ttf?") format("truetype"),
         url("#{$custom-font-path}#{$custom-font-name}.svg?#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Правила для лучшего рендеринга шрифта
.icon {
    text-rendering: auto; // optimizelegibility throws things off #1094
    transform: translate(0, 0);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased !important; // включаем самый "жирный" режим сглаживания
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

// http://fontello.com/
 [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: #{$custom-font-name};
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-login:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-profile:before { content: '\e802'; } /* '' */
.icon-navicon:before { content: '\e803'; } /* '' */
.icon-main-02:before { content: '\e805'; } /* '' */
.icon-main-03:before { content: '\e806'; } /* '' */
.icon-main-01:before { content: '\e807'; } /* '' */