// Utilities
//////////////////////////////////////////////////////

// Оверлей
.overlay {
    @extend %overlay;
}


// Project utilities
//////////////////////////////////////////////////////

// Заголовок секции
.section-header {
    padding-top: $size * 2;
    padding-bottom: $size * 2;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    @include text($font-size-super, $sans-bold-font-weight);
}

// Подвал секции
.section-footer {
    padding-top: $size * 2;
    padding-bottom: $size * 4;
    text-align: center;
}

.section-nav-tabs {
    background: lighten($gray-light, 15%);
}

// Итем-карточка
.card {
    background: $white;
    margin-bottom: $size;
    padding: $size;
    @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-light-color);
}

.image,
.video {
    background-color: $gray-light;
}

// Visibility utilities
//////////////////////////////////////////////////////

.visible-mobile-block,
.visible-mobile-inline,
.visible-mobile-inline-block,
.visible-tablet-block,
.visible-tablet-inline,
.visible-tablet-inline-block,
.visible-desktop-block,
.visible-desktop-inline,
.visible-desktop-inline-block {
    display: none !important;
}

.visible-mobile-block {
    @include mobile {
        display: block !important;
    }
}
.visible-mobile-inline {
    @include mobile {
        display: inline !important;
    }
}
.visible-mobile-inline-block {
    @include mobile {
        display: inline-block !important;
    }
}

.visible-tablet-block {
    @include tablet {
        display: block !important;
    }
}
.visible-tablet-inline {
    @include tablet {
        display: inline !important;
    }
}
.visible-tablet-inline-block {
    @include tablet {
        display: inline-block !important;
    }
}

.visible-desktop-block {
    @include desktop {
        display: block !important;
    }
}
.visible-desktop-inline {
    @include desktop {
        display: inline !important;
    }
}
.visible-desktop-inline-block {
    @include desktop {
        display: inline-block !important;
    }
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.hidden-tablet {
    @include tablet {
        display: none !important;
    }
}
.hidden-desktop {
    @include desktop {
        display: none !important;
    }
}


// Анимации

// Вращающиеся иконки (рефреш)
.spin {
    @include prefix(animation, spin ($transition-duration * 3) linear infinite, webkit moz ms o);
}

.fade-on {
    @include prefix(animation, fadeOn $transition-duration ease-out forwards, webkit moz ms o);
}
.fade-off {
    @include prefix(animation, fadeOut $transition-duration ease-out forwards, webkit moz ms o);
}

@for $i from 2 to 10 {
    .fade-on-#{$i}x {
        @include prefix(animation, fadeOn ($transition-duration * $i) ease-out forwards, webkit moz ms o);
    }
    .fade-off-#{$i}x {
        @include prefix(animation, fadeOut ($transition-duration * $i) ease-out forwards, webkit moz ms o);
    }
}

.falling {
    @include prefix(animation, fallingDown $transition-duration ease-in forwards, webkit moz ms o);
}

.pulse {
    $fadetransition-duration: $transition-duration * 2;
    @include animation('pulse #{$transition-duration} infinite', 'fadeOn #{$fadetransition-duration} forwards');
}

.slideLeftOut {
    @include animation('slideLeftOut #{$transition-duration} forwards', 'fadeOut #{$transition-duration} forwards');
}

.slideLeftOn {
    @include animation('slideLeftOn #{$transition-duration} forwards', 'fadeOn #{$transition-duration} forwards');
}

.slideRightOut {
    @include animation('slideRightOut #{$transition-duration} forwards', 'fadeOut #{$transition-duration} forwards');
}

.slideRightOn {
    @include animation('slideRightOn #{$transition-duration} forwards', 'fadeOn #{$transition-duration} forwards');
}

.blink-01 {
    $transition-duration: $transition-duration * 3;
    @include prefix(animation, blink $transition-duration ease-out 0s infinite, webkit moz ms o);
}

.blink-02 {
    $transition-duration: $transition-duration * 3;
    @include prefix(animation, blink $transition-duration ease-out ($transition-duration / 3) infinite, webkit moz ms o);
}

.blink-03 {
    $transition-duration: $transition-duration * 3;
    @include prefix(animation, blink $transition-duration ease-out ($transition-duration / 3 * 2) infinite, webkit moz ms o);
}