// Widgets
//////////////////////////////////////////////////////

.section-map {
    position: relative;
    height: 350px;
    overflow: hidden;

    #map {
        height: 100%;

        @include mobile {
            height: 350px;
        }
    }

    &__block {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 30%;
        padding: $size * 4;
        color: $text-color;
        text-align: right;
        @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-color);

        .overlay {
            background: $background-color;
            @include opacity(0.66);
        }

        h3 {
            display: inline-block;
            position: relative;
            color: $text-color;
            margin-bottom: $size * 2;
            padding-left: 35px;

            .fa, .icon {
                position: absolute;
                top: -4px;
                left: 0;
                font-size: 40px;
            }
        }

        h3, p {
            position: relative;
            font-weight: $sans-bold-font-weight;
        }
    }

    @include md {
        &__block {
            width: 35%;
        }
    }

    @include sm {
        &__block {
            width: 40%;
            text-align: left;
            padding: $grid-gutter-width * 2;
        }
    }

    @include mobile {
        height: 650px;

        .overlay {
            background: url(#{$image-path}pattern-04.png) $background-color bottom left no-repeat;
        }

        iframe {
            display: block;
        }

        &__block {
            position: relative;
            text-align: left;
            padding: ($grid-gutter-width * 2) $grid-gutter-width;
            @include size(100%, 300px);
        }
    }
}


.block {
    position: relative;

    &--image-left {
        padding-left: 50%;

        .block__image {
            left: 0;
        }
    }
    &--image-right {
        padding-right: 50%;

        .block__image {
            right: 0;
        }
    }

    &__text,
    &__block {
        height: 460px;
    }

    &__image {
        width: 50%;
        position: absolute;
        top: 0;
        bottom: 0;

        .image {
            @extend %overlay;
        }
    }

    &__text {
        background: $white;
        padding: 10% 10% 0 10%;
    }

    h2 {
        text-transform: uppercase;
        font-weight: $sans-bold-font-weight;
    }

    .btn-sm {
        margin-top: $size * 1.5;
    }

    @include sm-and-xs {
        padding-top: 260px;

        &.block--image-left {
            padding-left: 0;

            .image-block {
                left: 0;
            }
        }
        &.block--image-right {
            padding-right: 0;

            .image-block {
                right: 0;
            }
        }

        .block__image {
            height: 260px;
            width: 100%;

            .overlay {
                display: none;
            }
        }

        .block__text {
            height: auto;
            padding: 10% $size 15%;
        }

        .btn-sm {
            margin-top: $size / 2;
        }
    }

    @include sm {
        .block__text {
            padding: 5% ($size * 2) 10%;
        }
    }

    @include xs {
        .block__text {
            padding: 10% $size 15%;
        }
    }
}


.section-news {

    .sequence-block {
        &.sequence-first,
        &.sequence-second {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }

        @media (min-width: ($screen-md + 1px)) and (max-width: $screen-lg) {

            &.sequence-first {
                width: calc(100% / 3);

                & + .sequence-first {
                    .news--small {
                        .news__info {
                            @include gradient-directional($third-color, lighten($third-color, 10%), 0);

                            @include arrow(top, lighten($third-color, 10%));
                        }

                        .btn {
                            @include btn-color($third-color, $white);
                        }
                    }
                }
            }
            &.sequence-second {
                width: calc((100% / 3) * 2);
            }
        }

        @media (max-width: $screen-md) {
            &.sequence-first,
            &.sequence-second {
                display: block;
                width: 100%;
            }
        }
    }

    .news {
        position: relative;
        overflow: hidden;

        @include lg-and-md {
            cursor: pointer;

            &:hover {
                .news__image {
                    @include scale($image-hover-scale);
                }

                .news__info {
                    h3, p {
                        color: $white;
                    }
                }
            }
        }

        .news__image {
            background-color: $gray-light;
            backface-visibility: hidden;
            @include transition(all $transition-duration $transition-timing-function $transition-delay);
        }

        .news__date {
            @include text($font-size-xsmall, $sans-bold-font-weight);
        }

        .news__info {
            position: absolute;
            padding: 5% 5% 0 5%;

            h3, p {
                color: darken($background-color, 5%);
                @include transition(color $transition-duration $transition-timing-function $transition-delay);
            }

            h3 {
                margin-top: 0;
                @include text($font-size-normal, $sans-bold-font-weight);
            }

            p {
                @include text($font-size-xsmall, $sans-regular-font-weight);
            }

            @include sm-and-xs {
                h3, p {color: $white;}
            }
        }

        &.news--large {
            height: 720px;

            .news__image {
                @include size(100%, 100%);
            }

            .news__info {
                top: auto;
                bottom: 0;
                right: auto;
                left: 0;
                @include size(50%, 50%);
                @include gradient-directional($main-color, lighten($main-color, 10%), 90deg);

                @include arrow(left, lighten($main-color, 10%));

                .btn {
                    @include btn-color($main-color, $white);
                }
            }
        }

        &.news--small {
            height: 360px;

            .news__image {
                @include size(50%, 100%);
            }

            .news__info {
                top: 0;
                bottom: 0;
                right: 0;
                left: auto;
                @include size(50%, 100%);
                @include gradient-directional($second-color, lighten($second-color, 10%), 90deg);

                @include arrow(right, $second-color);

                .btn {
                    @include btn-color($second-color, $white);
                }
            }

            & + .news--small {

                .news__image {
                    float: right;
                }

                .news__info {
                    right: auto;
                    left: 0;
                    @include gradient-directional($third-color, lighten($third-color, 20%), 90deg);

                    @include arrow(left, lighten($third-color, 20%));

                    .btn {
                        @include btn-color($third-color, $white);
                    }
                }
            }
        }

        @media (max-width: $screen-mg) {
            &.news--large {
                height: 600px;
            }

            &.news--small {
                height: 300px;
            }
        }

        @media (min-width: ($screen-md + 1px)) and (max-width: $screen-lg) {

            .news__info {
                padding: 40px 40px 0 40px;
            }

            &.news--large {
                height: 600px;
            }

            &.news--small {
                height: 600px;

                .news__image {
                    @include size(100%, 50%);
                }

                .news__info {
                    @include size(100%, 50%);
                    top: 50%;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    @include gradient-directional($second-color, lighten($second-color, 10%), 0);

                    @include arrow(top, lighten($second-color, 10%));
                }
            }
        }

        @media (max-width: $screen-md) {

            .news__info {
                padding: 20px 20px 0 20px;
            }

            &.news--small {
                height: 300px;
            }
        }

        @media (max-width: ($screen-xs + 100px)) {
            &.news--large,
            &.news--small {
                height: 600px;

                .news__image {
                    @include size(100%, 50%);
                }

                .news__info {
                    @include size(100%, 50%);
                    top: 50%;
                    bottom: 0;
                    right: 0;
                    left: 0;
                }
            }

            &.news--small {
                .news__info {
                    @include gradient-directional($second-color, lighten($second-color, 10%), 0deg);
                    @include arrow(top, lighten($second-color, 10%));
                }

                & + .news--small {
                    .news__info {
                        @include gradient-directional($third-color, lighten($third-color, 10%), 0deg);
                        @include arrow(top, lighten($third-color, 10%));
                    }
                }
            }

            &.news--large {
                .news__info {
                    @include gradient-directional($main-color, lighten($main-color, 10%), 0deg);
                    @include arrow(top, lighten($main-color, 10%));
                }
            }
        }
    }
}

.tickets {
    padding-top: $size * 2;
    padding-bottom: $size * 4;
}

.ticket {
    text-align: center;
    margin: 0 auto;
    max-width: 240px;

    @include not-lg {
        margin-bottom: $size;
    }

    h4 {
        margin: 0;
        min-height: 70px;
        @include text($font-size-normal, $sans-bold-font-weight);
    }

    h5 {
        @include text($font-size-small, $sans-bold-font-weight);
    }

    &__header {
        margin-bottom: $size;
    }

    &__price {
        padding: ($size / 2) 0;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin-bottom: $size;
        @include text($font-size-normal, $sans-bold-font-weight);
    }
}

.order {
    $order-height: 100px;
    padding: 0;

    &__header {
        position: relative;
        height: $order-height;
        cursor: pointer;
        padding: ($size / 2) $size ($size / 2) ($order-height + $size);

        &:hover {
            @include lg-and-md {
                background: $background-color;

                .fa-check-circle,
                .fa-clock-o,
                .fa-trash {
                    @include opacity(1);
                }
            }
        }

        h4 {
            margin: 0;
            @include text($font-size-normal, $sans-regular-font-weight);
        }
        h5 {
            margin: 0;
            @include text($font-size-small, $sans-regular-font-weight);
        }
        h6 {
            margin: 0;
            @include text($font-size-xsmall, $sans-regular-font-weight);
        }

        .value {
            font-weight: $sans-bold-font-weight;
        }
    }

    &__status {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        font-size: $font-size-super;
        text-align: center;
        line-height: $order-height;
        @include size($order-height, $order-height);

        .fa-check-circle,
        .fa-clock-o,
        .fa-trash {
            display: none;
            color: $white;

            @include lg-and-md {
                @include opacity(0.75);
            }
        }
    }

    &--payment_confirmed {
        .order__status {
            background: fade-in($state-success-bg, 0.2);

            .fa-check-circle {
                display: inline-block;
            }
        }
        .order__body-status {
            h4 {color: fade-out($state-success-text, 0.2);}
        }
    }
    &--awaiting_payment {
        .order__status {
            background: fade-in($state-info-bg, 0.2);

            .fa-clock-o {
                display: inline-block;
            }
        }
        .order__body-status {
            h4 {color: fade-out($state-info-text, 0.2);}
        }
    }
    &--order_canceled {
        .order__status {
            background: fade-in($state-danger-bg, 0.2);

            .fa-trash {
                display: inline-block;
            }
        }
        .order__body-status {
            h4 {color: fade-out($state-danger-text, 0.2);}
        }
    }

    &__body {
        position: relative;
        display: none;
        padding-bottom: 75px;
        @include transition(all $transition-duration $transition-timing-function $transition-delay);

        .order__body-block {
            padding: $size;
            border-top: 1px solid $border-color;

            .label {
                color: darken($gray-light, 10%);

                @include mobile {
                    display: block;
                }
            }

            h4 {
                margin: 0;
                @include text($font-size-normal, $sans-bold-font-weight);
            }

            &.order__body-info {
                h4 {
                    @include text($font-size-small, $sans-bold-font-weight);
                }
            }

            &.order__body-status {
                .btn-sm {
                    margin-top: $size / 2;
                }
            }

            &.order__footer {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: lighten($gray-light, 15%);

                .btn + .btn {
                    margin-left: $size;
                }

                .fa {
                    margin-right: $size / 4;

                    @media (max-width: 360px) {
                        display: none;
                    }
                }
            }
        }

        .order__body-block-second {
            padding-left: $size * 2;

            h5 {
                @include text($font-size-small, $sans-bold-font-weight);
            }

            @include mobile {
                padding-left: 0;
            }
        }
    }

    &--open {
        .order__body {
            display: block;
        }
    }
}

.order__form {
    position: relative;
    padding-top: $size * 2;
    padding-bottom: $size * 4;
    text-align: center;

    .overlay {
        background: url(#{$image-path}pattern-03.png) top right no-repeat,
                    url(#{$image-path}pattern-04.png) bottom left no-repeat;
        @include opacity(0.25);
    }

    .form-group {
        position: relative;
    }

    h4 {
        color: darken($gray-light, 10%);
        display: inline-block;
        margin-bottom: 0;
        @include text($font-size-large, $sans-bold-font-weight);
        line-height: 48px;

        .value {
            color: $text-color;
        }
    }

    .radio,
    .checkbox {
        display: inline-block;
        margin-left: $size * 2;

        &.checked {
            label {
                color: $main-color;
            }
        }

        label {
            @include text($font-size-large, $sans-bold-font-weight);
            color: $gray-medium;
        }

        input[type="radio"],
        input[type="checkbox"] {
            top: 13px;
        }
    }

    .datepicker {
        display: inline-block;
        width: 150px;
        margin-left: $size;
        font-weight: $sans-bold-font-weight;
        background: $white;
    }

    .help-block {
        width: 100%;
        text-align: center;
    }

    @include not-lg {
        .overlay {
            display: none;
        }
    }

    @include mobile {
        text-align: left;

        h4,
        .radio,
        .checkbox,
        .datepicker,
        h4 .value {
            display: block;
            margin-left: 0;
        }

        .form-group.pendant-help-block {
            margin-bottom: $size * 2;
        }

        .datepicker {
            margin-top: $size / 2;
        }

        .help-block {
            text-align: left;
        }
    }
}

.feedback-form {
    position: relative;
    padding-top: $size * 2;
    padding-bottom: $size * 2;

    .overlay {
        background: url(#{$image-path}pattern-03.png) top right no-repeat,
                    url(#{$image-path}pattern-04.png) bottom left no-repeat;
        @include opacity(0.25);
    }

    @include not-lg {
        .overlay {
            display: none;
        }
    }

    .form.form-style {
        position: relative;

        h4 {
            @include text($font-size-normal, $sans-bold-font-weight);
            color: $gray-medium;
            margin-bottom: $size;
        }

        textarea {
            width: 100%;
        }
    }
}

.section-feedback {
    padding-top: $size * 2;
    padding-bottom: $size * 2;
    text-align: center;
    color: $gray-medium;

    span {
        display: inline-block;
    }

    &, span {
        @include text($font-size-normal, $sans-bold-font-weight);
        line-height: 54px;
    }

    .btn {
        vertical-align: top;
        margin-left: $size * 2;
    }

    @include mobile {
        padding-bottom: $size * 2.5;

        span {
            display: block;
            line-height: 34px;
        }
        .btn {
            margin-top: $size / 2;
            margin-left: 0;
        }
    }
}