{% extends "base.html" %}

{% block template %}
<div class="page account">
{% endblock %}

{% block content %}
    <section class="section-nav-tabs">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#orders" aria-controls="profile" role="tab" data-toggle="tab">Мои заказы</a></li>
                <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Профиль</a></li>
                <li><a href="#logout" aria-controls="profile" role="tab" data-toggle="tab">Выход</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="tab-content">
            <div class="tab-pane fade in active" role="tabpanel" id="orders">
                <div class="card">
                    <div class="container skinny-sm">
                        {{ Parts.Order("success",  true) }}
                        {{ Parts.Order("processing",  false) }}
                        {{ Parts.Order("deleted",  false) }}
                        <div class="section-footer"><a href="#" class="btn btn-lg btn-gray">Ещё заказы</a></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="profile">
                <div class="card">
                    <div class="container skinny-md">
                        <div class="alert alert-dismissible alert-warning">
                            <a href="#" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
                            <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                        </div>
                        <div class="alert alert-dismissible alert-danger">
                            <a href="#" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
                            <p><a href="#" class="alert-link">Change a few things up</a> and try submitting again.</p>
                        </div>
                        <div class="alert alert-dismissible alert-success">
                            <a href="#" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
                            <p>You successfully read <a href="#" class="alert-link">this important alert message</a>.</p>
                        </div>
                        <div class="alert alert-dismissible alert-info">
                            <a href="#" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
                            <p>This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.</p>
                        </div>
                        <div class="card">
                            <form class="form form-style">
                                <h4>Расскажите о себе</h4>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group pendant-help-block">
                                            <input type="text" class="form-control" placeholder="Имя" />
                                        </div>
                                        <!-- Внимание!!! Дублирование поля Возраст для хорошего порядка на мобилах!!! -->
                                        <div class="form-group pendant-help-block hidden-xs">
                                            <input type="text" class="form-control" placeholder="Возраст" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group pendant-help-block">
                                            <input type="text" class="form-control" placeholder="Фамилия" />
                                        </div>
                                        <!-- Внимание!!! Дублирование поля Возраст для хорошего порядка на мобилах!!! -->
                                        <div class="form-group pendant-help-block visible-xs">
                                            <input type="text" class="form-control" placeholder="Возраст" />
                                        </div>
                                        <div class="form-group pendant-help-block">
                                            <div class="label">Пол: </div>
                                            <div class="radio checked">
                                                <label><input type="radio" name="hallRadios" checked />Мужской</label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="hallRadios" />Женский</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4>Контактные данные</h4>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group pendant-help-block">
                                            <input type="text" class="form-control" placeholder="Номер телефона" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group pendant-help-block">
                                            <input type="text" class="form-control" placeholder="E-mail" />
                                        </div>
                                    </div>
                                </div>
                                <h4>Изменить пароль</h4>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group pendant-help-block">
                                            <input type="password" class="form-control" placeholder="Новый пароль" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group pendant-help-block">
                                            <input type="password" class="form-control" placeholder="Повторите пароль" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 with-btn">
                                        <a href="#" class="btn btn-lg btn-main">Сохранить</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}