{% extends "base.html" %}

{% block template %}
<div class="page club">
{% endblock %}

{% block content %}
    <section id="club__section-top-image">
        <div class="container">
            <img src="./img/club.jpg" class="img-responsive" alt="" />
        </div>
    </section>
    <section id="club__section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <h2>СДЮШОР</h2>
                    <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                    <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                    <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                    <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <ul class="list-style">
                        <li>
                            <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                        </li>
                        <li>
                            <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                        </li>
                        <li>
                            <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="club__section-coaches">
        <div class="container">
            <h2 class="section-header">Наши тренеры</h2>
        </div>
        <div class="swiper-container swiper-container-coaches">

            <div class="swiper-wrapper">
                {{ Parts.Coach() }}
                {{ Parts.Coach() }}
                {{ Parts.Coach() }}
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        </div>
    </section>
    <section id="club__section-sportsmans">
        <div class="container">
            <h2 class="section-header">Спортсмены</h2>
        </div>
        <div class="swiper-container swiper-container-sportsmans">

            <div class="swiper-wrapper">
                {{ Parts.Sportsman() }}
                {{ Parts.Sportsman() }}
                {{ Parts.Sportsman() }}
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        </div>
    </section>
    <section id="club__section-camp">
        <div class="container">
            <h2 class="section-header">Спортивно-оздоровительный лагерь</h2>
        </div>
        <div class="swiper-container swiper-container-camp">

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./img/main-back-00.jpg" class="image" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./img/main-back-01.jpg" class="image" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="./img/main-back-02.jpg" class="image" alt="" />
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
            <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                    <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="camp-form">
                        <h3>Отправте заявку и мы свяжемся с вами:</h3>
                        <form class="form form-style">
                            <div class="form-group pendant-help-block">
                                <input type="text" class="form-control" placeholder="Ваше имя" />
                            </div>
                            <div class="form-group pendant-help-block">
                                <input type="text" class="form-control" placeholder="Номер телефона" />
                            </div>
                            <div class="form-group pendant-help-block">
                                <input type="text" class="form-control" placeholder="Е-mail" />
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" />В прототипе не разглядеть что написано!</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="#" role="button" class="btn btn-sm btn-block btn-main">Отправить</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="club__section-gallery">
        <div class="container">
            <h2 class="section-header">Галлерея</h2>
            <div class="photoswipe-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.VideoItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.ImageItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.ImageItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.VideoItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.ImageItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.ImageItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.VideoItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.ImageItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.VideoItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.ImageItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.ImageItem() }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="gallery-item">
                            {{ Parts.ImageItem() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer"><a href="#" class="btn btn-lg btn-gray">Загрузить ещё</a></div>
    </section>
{% endblock %}

{% block photoswipe %}
    {% include "../parts/photoswipe.html" %}
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block map %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvMSTHmXZvQexmlP5CdYt5fmVRyhS8-W0"></script>
{% endblock %}