{% extends "base.html" %}

{% block template %}
<div class="page">
{% endblock %}

{% block content %}
    {% include "../parts/map.html" %}
    <section class="feedback-form">
        <div class="overlay"></div>
        <div class="container skinny-sm">
            <form class="form form-style">
                <h4>Форма обратной связи</h4>
                <div class="form-group pendant-help-block">
                    <input type="text" class="form-control" placeholder="Как к вам обращаться?" />
                </div>
                <div class="form-group pendant-help-block">
                    <input type="text" class="form-control" placeholder="Ваша электронная почта" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="2" placeholder="..."></textarea>
                </div>
                <div class="form-group">
                    <a href="#" role="button" class="btn btn-sm btn-block btn-main">Отправить</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block map %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvMSTHmXZvQexmlP5CdYt5fmVRyhS8-W0"></script>
{% endblock %}