{% extends "base.html" %}

{% block template %}
<div class="page fencing">
{% endblock %}

{% block content %}

    <section id="fencing__tickets">
        <div class="block block--image-right" id="block-06">
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
            <div class="block__text">
                <h2>Групповые тренировки для взрослых</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
        </div>
        <div class="tickets">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(0, "1 500", 1) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(1, "4 000", 1) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(1.5, "7 000", 1) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(3, "10 000", 1) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(6, "18 000", 1) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(12, "35 000", 1) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="block block--image-left" id="block-07">
            <div class="block__text">
                <h2>Групповые тренировки для детей</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
        </div>
        <div class="tickets">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(0, "1 500", 2) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(1, "4 000", 2) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(1.5, "7 000", 2) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(3, "10 000", 2) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(6, "18 000", 2) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(12, "35 000", 2) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="block block--image-right" id="block-07">
            <div class="block__text">
                <h2>Индивидуальные тренировки</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
        </div>
        <div class="tickets">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(0, "1 500", 3) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(1, "4 000", 3) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(1.5, "7 000", 3) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(3, "10 000", 3) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(6, "18 000", 3) }}
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        {{ Parts.Ticket(12, "35 000", 3) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fencing__schedule">
        <div class="container">
            <h2 class="section-header">Расписание тренировок</h2>
            <div class="schedule__control">
                <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><span class="dates">8 - 12 августа</span><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div class="schedule__types">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="type type-01">Отделение рапиры</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="type type-02">Отделение сабли</div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="type type-03">Отделение шпаги</div>
                    </div>
                </div>
            </div>
            <div class="schedule card">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th><span class="weekday">Понедельник</span><br />8 августа</th>
                            <th><span class="weekday">Вторник</span><br />9 августа</th>
                            <th><span class="weekday">Среда</span><br />10 августа</th>
                            <th><span class="weekday">Четверг</span><br />11 августа</th>
                            <th><span class="weekday">Пятница</span><br />12 августа</th>
                            <th><span class="weekday">Суббота</span><br />13 августа</th>
                            <th><span class="weekday">Воскресенье</span><br />12 августа</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7:00</td>
                            <td>
                                <a href="#" class="item type-01" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />МАЛЫШЕЙ</a>
                                <a href="#" class="item type-02" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />НАЧАЛЬНОЙ<br />ПОДГОТОВКИ</a>
                            </td>
                            <td></td>
                            <td>
                                <a href="#" class="item type-03" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />УЧЕБНО-<br />ТРЕНИРОВОЧНАЯ</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8:20</td>
                            <td>
                                <a href="#" class="item type-01" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />ВЗРОСЛЫХ</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="#" class="item type-01" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />СПОРТИВНОГО<br />СОВЕРШЕНСТВОВАНИЯ</a>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11:30</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="#" class="item type-03" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />НАЧАЛЬНОЙ<br />ПОДГОТОВКИ (8-11 лет)</a>
                            </td>
                            <td>
                                <a href="#" class="item type-02" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />УЧЕБНО-<br />ТРЕНИРОВОЧНАЯ</a>
                            </td>
                            <td></td>
                            <td>
                                <a href="#" class="item type-02" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />СПОРТИВНОГО<br />СОВЕРШЕНСТВОВАНИЯ</a>
                                <a href="#" class="item type-01" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />ВЗРОСЛЫХ</a>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>13:00</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="#" class="item type-03" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />НАЧАЛЬНОЙ<br />ПОДГОТОВКИ (8-11 лет)</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="#" class="item type-02" data-container="body" tabindex="0" rel="popover" role="button">Группа<br />УЧЕБНО-<br />ТРЕНИРОВОЧНАЯ</a>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                    <thead class="headers-double">
                        <tr>
                            <th></th>
                            <th><span class="weekday">Понедельник</span><br />8 августа</th>
                            <th><span class="weekday">Вторник</span><br />9 августа</th>
                            <th><span class="weekday">Среда</span><br />10 августа</th>
                            <th><span class="weekday">Четверг</span><br />11 августа</th>
                            <th><span class="weekday">Пятница</span><br />12 августа</th>
                            <th><span class="weekday">Суббота</span><br />13 августа</th>
                            <th><span class="weekday">Воскресенье</span><br />12 августа</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    <section id="fencing__bottom">
        <div class="block block--image-left" id="block-08">
            <div class="block__text">
                <h2>Фехтование для малышей</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
        </div>
        <div class="block block--image-right" id="block-09">
            <div class="block__text">
                <h2>Мастер классы по фехтованию</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
        </div>
        <div class="block block--image-left" id="block-10">
            <div class="block__text">
                <h2>Паралимпийское фехтование</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
        </div>
    </section>
    <section class="section-feedback">
        <span>Если есть вопросы, оставте заявку и мы перезвоним</span><a href="#" class="btn btn-sm btn-main modal-call-trigger">Заказать звонок</a>
    </section>
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block map %}
{% endblock %}