<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

<!-- @if NODE_ENV='development' -->
    <link href="./css/sys.css" rel="stylesheet" type="text/css" />
<!-- @endif -->

<!-- @if NODE_ENV='production' !>
    <link href="./css/sys.min.css" rel="stylesheet" type="text/css" />
<!-- @endif -->

    <link rel="icon" type="image/jpeg" href="./img/favicon.jpg" />
</head>
<body>

    <!-- page content -->
    <div id="sys">
        <div id="message">
            <div class="wrapperMessage">
У Вас установлена устаревшая версия браузера.<br />
Для полноценной работы в интернете необходимо скачать современный браузер,
например &mdash; <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a>,
или &mdash; <a href="http://browser.yandex.net/" target="_blank">Яндекс.Браузер</a>.
            </div>
        </div>
    </div>
    <!-- /page content -->

</body>
</html>
