{% extends "base-nologin.html" %}

{% block template %}
<div class="page main">
{% endblock %}

{% block content %}
    <section id="main__section-top">
        <div class="grid grid-for-two no-mobile">
            <div>
                <div id="top__block-01" class="image-block">
                    <div class="photoswipe-wrapper">
                        <div class="photoswipe-item">
                            <a href="#" class="video" id="block-01-image" data-type="video" data-video='<div class="wrapper"><div class="video-wrapper"><iframe class="pswp__video" width="960" height="460" src="https://www.youtube-nocookie.com/embed/iP2JGliTdvw?rel=0" frameborder="0" allowfullscreen></iframe></div></div>'>
                                <img src="http://placehold.it/960x640?text=YouTube" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <a href="#" class="overlay"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                </div>
            </div
            ><div>
                <div id="top__block-02">
                    <div id="block-01" class="image-block">
                        <div class="image" id="block-02-image-01"></div>
                        <a href="#" class="overlay"></a>
                        <div class="header">Экипировка</div>
                    </div>
                    <div id="block-02" class="image-block">
                        <div class="image" id="block-02-image-02"></div>
                        <a href="#" class="overlay"></a>
                        <div class="header">Аренда зала</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main__section-icons">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-block"><span class="icon icon-main-01"></span></div>
                    <h3>Более 40 лет<br />в фехтовании</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-block"><span class="icon icon-main-02"></span></div>
                    <h3>Десятки олимпийских<br />чемпионов</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-block"><span class="icon icon-main-03"></span></div>
                    <h3>Находимся прямо в центре<br />Санкт-Петербурга</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="main__section-blocks">
        <div class="block block--image-left" id="block-03">
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
            <div class="block__text">
                <h2>Фехтование в Спартаке</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                <a href="#" class="btn btn-sm btn-main">Подробнее</a>
            </div>
        </div>
        <div class="block block--image-right" id="block-04">
            <div class="block__text">
                <h2>Аренда зала</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                <a href="#" class="btn btn-sm btn-second">Подробнее</a>
            </div>
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
        </div>
        <div class="block block--image-left" id="block-05">
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
            <div class="block__text">
                <h2>СПА</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                <a href="#" class="btn btn-sm btn-third">Подробнее</a>
            </div>
        </div>
    </section>

    <section class="section-news">
        <!--<h2 class="section-header">Новости</h2>-->
        {% include "../parts/news.html" %}
        <!--<div class="section-footer"><a href="#" class="btn btn-lg btn-gray">Все новости</a></div>-->
    </section>

    {% include "../parts/map.html" %}
    <section class="feedback-form">
        <div class="overlay"></div>
        <div class="container skinny-sm">
            <form class="form form-style">
                <h4>Форма обратной связи</h4>
                <div class="form-group pendant-help-block">
                    <input type="text" class="form-control" placeholder="Как к вам обращаться?" />
                </div>
                <div class="form-group pendant-help-block">
                    <input type="text" class="form-control" placeholder="Ваша электронная почта" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="2" placeholder="..."></textarea>
                </div>
                <div class="form-group">
                    <a href="#" role="button" class="btn btn-sm btn-block btn-main">Отправить</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block photoswipe %}
    {% include "../parts/photoswipe.html" %}
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block map %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvMSTHmXZvQexmlP5CdYt5fmVRyhS8-W0"></script>
{% endblock %}