{% extends "base.html" %}

{% block template %}
<div class="page">
{% endblock %}

{% block content %}
    <section class="section-news">
        <!--<h2 class="section-header">Новости</h2>-->
        {% include "../parts/news.html" %}
        {% include "../parts/news.html" %}
        <div class="section-footer"><a href="#" class="btn btn-lg btn-gray">Ещё новости</a></div>
    </section>
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block map %}
{% endblock %}