{% extends "base.html" %}

{% block template %}
<div class="page order spa">
{% endblock %}

{% block content %}
    <section id="order__spa">
        <div class="block block--image-right" id="block-13">
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
            <div class="block__text">
                <h2>СПА</h2>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
        </div>
        <div class="block block--image-left" id="block-14">
            <div class="block__text">
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
            <div class="block__image">
                <div class="image"></div>
                <a href="#" class="overlay"></a>
            </div>
        </div>
    </section>
    <section class="order__form">
        <div class="overlay"></div>
        <div class="container">
            <h2 class="section-header">Аренда сауны</h2>
            <form class="form form-style">
                <div class="form-group">
                    <h4>Выберите день:</h4>
                    <input class="datepicker form-control" id="spa-datepicker" />
                </div>
                <div class="form-group pendant-help-block has-error">
                    <h4>Выберите время:</h4>
                    <div class="slider-block">
                        <div class="slider-value">11.00 - 13.00</div>
                        <div class="slider"></div>
                        <span class="help-block">Выберите правильное время! Этот диапазон занят!</span>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Сумма заказа: <span class="value">1234 руб.</span></h4>
                </div>
                <div class="form-group">
                    <a href="#" class="btn btn-lg btn-main disabled">Заказать</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block map %}
{% endblock %}