{% extends "base.html" %}

{% block template %}
<div class="page sandbox">
{% endblock %}

{% block content %}
    <section>
        <h2 class="sandbox-header">
            <div class="container">Typography Base</div>
        </h2>
        <div class="container">
            <div class="card">
                <h1>Съешь же ещё этих мягких французских булок, да выпей чаю.</h1>
                <h2>Съешь же ещё этих мягких французских булок, да выпей чаю.</h2>
                <h3>Съешь же ещё этих мягких французских булок, да выпей чаю.</h3>
                <h4>Съешь же ещё этих мягких французских булок, да выпей чаю.</h4>
                <h5>Съешь же ещё этих мягких французских булок, да выпей чаю.</h5>
                <h6>Съешь же ещё этих мягких французских булок, да выпей чаю.</h6>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны <a href="#">Сергей Шойгу</a> в ходе закрытого правительственного часа в Госдуме.</p>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
        </div>
    </section>
    <section class="section-nav-tabs">
        <h2 class="sandbox-header">
            <div class="container">Navigation Test</div>
        </h2>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Мои заказы</a></li>
                <li><a href="#profile" data-toggle="tab">Профиль</a></li>
                <li><a href="#messages" data-toggle="tab">Выход</a></li>
            </ul>
        </div>
    </section>
    <section class="section-nav-tabs">
        <h2 class="sandbox-header">
            <div class="container">Order Form</div>
        </h2>
    </section>
    <section class="order__form">
        <div class="overlay"></div>
        <div class="container">
            <h2 class="section-header">Аренда зала</h2>
            <form class="form form-style">
                <div class="form-group">
                    <h4>Выберите зал:</h4>
                    <div class="radio checked">
                        <label><input type="radio" name="hallRadios" checked />Большой зал</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="hallRadios" />Малый зал</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Выберите день:</h4>
                    <input class="datepicker form-control" id="halls-datepicker" />
                </div>
                <div class="form-group pendant-help-block has-error">
                    <h4>Выберите время:</h4>
                    <div class="slider-block">
                        <div class="slider-value">11.00 - 13.00</div>
                        <div class="slider"></div>
                        <span class="help-block">Выберите правильное время! Этот диапазон занят!</span>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Сумма заказа: <span class="value">1234 руб.</span></h4>
                </div>
                <div class="form-group">
                    <a href="#" class="btn btn-lg btn-main disabled">Заказать</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <h2 class="sandbox-header">
            <div class="container">Form Base</div>
        </h2>
        <div class="container">
            <form class="form form-style form-horizontal labels-on-the-left">
                <div class="form-group pendant-help-block has-success">
                    <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Название</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                        <input type="text" class="form-control" />
                        <span class="help-block">Заполните это поле!</span>
                    </div>
                </div>
                <div class="form-group pendant-help-block has-warning">
                    <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Название</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                        <input type="text" class="form-control" />
                        <span class="help-block">Заполните это поле!</span>
                    </div>
                </div>
                <div class="form-group pendant-help-block has-error">
                    <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Название</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                        <input type="text" class="form-control" placeholder="placeholder" />
                        <span class="help-block">Заполните это поле!</span>
                    </div>
                </div>
                <div class="form-group pendant-help-block">
                    <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label">Текст новости</label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-7">
                        <textarea class="form-control feedback" rows="2" placeholder="..."></textarea>
                        <div class="textarea-help"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-3 col-lg-3 control-label"></label>
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-9">
                        <div>
                            <a href="#" class="btn btn-sm btn-main">Main button</a>
                            <a href="#" class="btn btn-sm btn-second">Second button</a>
                            <a href="#" class="btn btn-sm btn-third">Active button</a>
                            <a href="#" class="btn btn-sm btn-gray">Gray button</a>
                            <a href="#" class="btn btn-sm btn-white">White button</a>
                        </div>
                        <div>
                            <a href="#" class="btn btn-sm btn-main disabled">Main button</a>
                            <a href="#" class="btn btn-sm btn-second disabled">Second button</a>
                            <a href="#" class="btn btn-sm btn-third disabled">Active button</a>
                            <a href="#" class="btn btn-sm btn-gray disabled">Gray button</a>
                            <a href="#" class="btn btn-sm btn-white disabled">White button</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section>
        <h2 class="sandbox-header">
            <div class="container">Alerts Test</div>
        </h2>
        <div class="container">
            <div class="alert alert-dismissible alert-warning">
                <a href="#" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
                <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
            </div>
            <div class="alert alert-dismissible alert-danger">
                <a href="#" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
                <p><a href="#" class="alert-link">Change a few things up</a> and try submitting again.</p>
            </div>
            <div class="alert alert-dismissible alert-success">
                <a href="#" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
                <p>You successfully read <a href="#" class="alert-link">this important alert message</a>.</p>
            </div>
            <div class="alert alert-dismissible alert-info">
                <a href="#" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="icon icon-close"></span></a>
                <p>This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.</p>
            </div>
        </div>
    </section>
    <section>
        <h2 class="sandbox-header">
            <div class="container">Modal Test</div>
        </h2>
        <div class="container">
            <button class="btn btn-lg modal-template-trigger">Шаблон Модали</button>
            <button class="btn btn-lg modal-auth-trigger">Авторизация</button>
            <button class="btn btn-lg modal-checkout-trigger">Проверка</button>
            <button class="btn btn-lg modal-call-trigger">Заказать звонок</button>
        </div>
    </section>
    <section>
        <h2 class="sandbox-header">
            <div class="container">Bootstrap Grid</div>
        </h2>
        <div class="container">
            <div class="test-row">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="sandbox-header">
            <div class="container">Custom Font Test</div>
        </h2>
        <div class="container">
            <ul class="icon-list">
                <li><i class="icon icon-close"></i></li>
                <li><i class="icon icon-navicon"></i></li>
                <li><i class="icon icon-profile"></i></li>
                <li><i class="icon icon-login"></i></li>
                <li><i class="icon icon-main-01"></i></li>
                <li><i class="icon icon-main-02"></i></li>
                <li><i class="icon icon-main-03"></i></li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block modals %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}