// Project mixins
//////////////////////////////////////////////////////


// Примесь для стрелочки в разные стороны
@mixin arrow($direction, $color) {

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -18px;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;

        @if $direction == left {
            left: auto;
            right: -17px;
            border-left: 18px solid $color;
            border-right: none;
        } @else if $direction == right {
            right: auto;
            left: -17px;
            border-right: 18px solid $color;
            border-left: none;
        } @else if $direction == top {
            right: auto;
            top: -17px;
            margin-top: 0;
            margin-left: -18px;
            left: 50%;
            border-bottom: 18px solid $color;
            border-top: none;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
        } @else if $direction == bottom {
            top: auto;
            right: auto;
            bottom: -17px;
            margin-top: 0;
            margin-left: -18px;
            left: 50%;
            border-top: 18px solid $color;
            border-bottom: none;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
        }
    }
}


// Project Active
@mixin active($property) {
    @include transition($property $transition-duration $transition-timing-function);
}


// Media

@mixin mg {
    @media (min-width: ($large-desktop-breackpoint)) {
        @content;
    }
}

@mixin lg {
    @media (min-width: ($screen-lg)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: ($screen-lg)) {
        @content;
    }
}

@mixin lg-and-md {
    @media (min-width: ($screen-md)) {
        @content;
    }
}

@mixin not-lg {
    @media (max-width: $screen-md-max) {
        @content;
    }
}

@mixin not-lg-and-md {
    @media (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin md {
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
        @content;
    }
}

@mixin sm {
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin md-and-sm {
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        @content;
    }
}

@mixin sm-and-xs {
    @media (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin tablet-and-mobile {
    @media (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin not-xs {
    @media (min-width: $screen-sm) {
        @content;
    }
}

@mixin not-mobile {
    @media (min-width: $screen-sm) {
        @content;
    }
}

@mixin xs {
    @media (max-width: $screen-xs-max) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $screen-xs-max) {
        @content;
    }
}

@mixin min {
    @media (max-width: $screen-xs) {
        @content;
    }
}

// Retina
@mixin retina {
    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
        @content;
    }
}

// Lare retina (для таких устройств имеет смысл увеличивать типографику смотрите _typography.scss Typographic Mixin)
@mixin retina-large {
    @media (min-width: $screen-sm) and (-Webkit-min-device-pixel-ratio: 1.5),
    (min-width: $screen-sm) and (-moz-min-device-pixel-ratio: 1.5),
    (min-width: $screen-sm) and (-o-min-device-pixel-ratio: 3/2),
    (min-width: $screen-sm) and (min-device-pixel-ratio: 1.5) {
        @content;
    }
}


// Elements

// Примесь для покраски кнопок
@mixin btn-color($color, $background) {
    &, &:hover, &:active, &:focus {
        background-color: $background;
        color: $color;
    }
}


// Примесь для покраски ссылок
@mixin link-style($color, $decoration) {
    @if $decoration {
        & {
            text-decoration: underline;
        }

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    &, &:hover, &:active, &:focus {
        color: $color;
    }
}


// Effects

// Opacity
@mixin opacity($value){
  $IEValue: $value * 100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

// Скругление
@mixin border-radius($border-radius...) {
    @include prefix(border-radius, $border-radius, webkit moz ms o);
}

// User-select
@mixin user-select($value) {
    @include prefix(transform, user-select($value), webkit moz ms o);
}

@mixin box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-color) {
    box-shadow: $shadow-coords-x $shadow-coords-y $shadow-size $shadow-stretch $shadow-color;
        -moz-box-shadow: $shadow-coords-x $shadow-coords-y $shadow-size $shadow-stretch $shadow-color;
            -webkit-box-shadow: $shadow-coords-x $shadow-coords-y $shadow-size $shadow-stretch $shadow-color;
                filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=$shadow-color, strength=$shadow-coords-y);
}

@mixin box-shadow-inset-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-color) {
    box-shadow: inset $shadow-coords-x $shadow-coords-y $shadow-size $shadow-stretch $shadow-color;
        -moz-box-shadow: inset $shadow-coords-x $shadow-coords-y $shadow-size $shadow-stretch $shadow-color;
            -webkit-box-shadow: inset $shadow-coords-x $shadow-coords-y $shadow-size $shadow-stretch $shadow-color;
                filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=$shadow-color, strength=$shadow-coords-y);
}

// Linear-gradient
@mixin gradient-vertical-three-colors($start-color, $mid-color, $color-stop, $end-color) {
    background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin selection($color) {
    ::selection {background: $color;}
        ::-moz-selection {background: $color;}
            ::-webkit-selection {background: $color;}
}


// Help

// Mixin to prefix a property
// @author Hugo Giraudel
//
// @param {String} $property - Property name
// @param {*} $value - Property value
// @param {List} $prefixes (()) - List of prefixes to print
//
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}


// Transform

// Scale
@mixin scale($size-scale){
    @include prefix(transform, scale($size-scale), webkit moz ms o);
}

// Multi-transition
// Usage:   @include transition(width, height 0.3s ease-in-out);
//
// Output:  -webkit-transition(width 0.3s, height 0.3s ease-in-out);
//              -moz-transition(width 0.3s, height 0.3s ease-in-out);
//                  -ms-transition(width 0.3s, height 0.3s ease-in-out);
//                       -o-transition(width 0.3s, height 0.3s ease-in-out);
//          transition(width 0.3s, height 0.3s ease-in-out);
//
// Pass in any number of transitions
@mixin transition($transitions...) {
    $unfoldedTransitions: ();
    @each $transition in $transitions {
        $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
    }

    @include prefix(transition, $unfoldedTransitions, webkit moz ms o);
}

@function unfoldTransition($transition) {
    // Default values
    $property: all;
    $duration: $transition-duration;
    $easing: $transition-timing-function; // Browser default is ease, which is what we want
    $delay: null; // Browser default is 0, which is what we want
    $defaultProperties: ($property, $duration, $easing, $delay);

    // Grab transition properties if they exist
    $unfoldedTransition: ();
    @for $i from 1 through length($defaultProperties) {
        $p: null;
        @if $i <= length($transition) {
            $p: nth($transition, $i)
        } @else {
            $p: nth($defaultProperties, $i)
        }
        $unfoldedTransition: append($unfoldedTransition, $p);
    }

    @return $unfoldedTransition;
}