// Project placeholders
//////////////////////////////////////////////////////


// Помошник для оборачивания контента в правильные кавычки
%quote-content {
    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
    &:before, &:after {
        color: inherit;
    }
}


// Помощник для защиты строк многоточием
%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Для проблем с переносом длинных слов
%inline-list-protection {
    -ms-word-break: break-all;
        word-break: break-all;
            word-break: break-word;
    -webkit-hyphens: auto;
        -moz-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
}


// Сетка Бутспрап с узкими отступами
%row-with-skinny-gutter {
    .row {
        > div {
            &:first-child {
                padding-right: 0;
            }
            &:last-child {
                padding-left: 0;
            }
        }
    }
}


// Помощник для рисования оверлея во весь родительский блок
%overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    @include size(100%, 100%);
}


// Списки с отступом и маркерами
%list-style {
    padding-left: $size;
    margin-bottom: $size / 2;

    > li {
        position: relative;
        margin-bottom: $size / 4;

        &:before {
            position: absolute;
            top: 6px;
            left: -20px;
            content: "";
            background: $main-color;
            @include border-radius(50%);
            @include size(10px, 10px);
        }
    }
}


// Помощник для переворачивания вверх каретки Bootstrap
%caret-up {
    border-top: 0;
    border-bottom: $caret-width-base solid;
    content: "";
}


// Активные картинки
%active-images {
    overflow: hidden;

    @include lg-and-md {
        &:hover .image,
        &:hover .video {
            backface-visibility: hidden;
            @include prefix(transform, scale($image-hover-scale), webkit moz ms o);
        }
    }

    .image,
    .video {
        @extend %overlay;

        @include lg-and-md {
            @include transition(all $transition-duration $transition-timing-function $transition-delay);
        }
    }
}