// Project variables
//////////////////////////////////////////////////////

$image-path: "../img/";

$fade: 8%;

$size: 20px;


// Colors
//////////////////////////////////////////////////////

$white: #fff;
$black: #000;

$gray: #1c1c1e;
$gray-medium: lighten($text-color, 25%);
$gray-light: lighten($gray, 66%);

$text-color: $gray;

$background-color: #f7f7f7;

$red: #e92828;
$salat: #3fbd3c;
$yellow: #fbba00;
$blue: #0099dc;
$admin-color: #0bf;
$main-color: $red;
$second-color: $salat;
$third-color: $blue;

$main-color-light: #d6ede8;
$main-color-medium: #70c9bc;

$active-color: $main-color;

$light-color: $background-color;

$border-color: #e5e5e5;

$disabled-color: darken($light-color, ($fade * 4));

$shadow-color: fade-out($gray, 0.66);
$shadow-light-color: fade-out($gray, 0.85);
$text-shadow-color: $black;

$color-placeholder: $disabled-color;

$overlay-color: rgba(48, 48, 48, 0.85);


// Grid and Sizes
//////////////////////////////////////////////////////

// Bootstrap Grid Gutter
$grid-gutter-width: $size;

// Layouts z-indexes
$body-layout: 900;
$fixed-layout: 1200;
$overlay-layout: 1070;
$panel-layout: 1100;
$popup-layout: 1500;

// Брекпоинт между мониторами и очень большими мониторами
$large-desktop-breackpoint: 1700px;
$screen-mg: $large-desktop-breackpoint;

// Брекпоинт между гаджетами и остальными экранами
$mobile-breackpoint: $screen-xs-max;

$border-width: 1px;

$dropdown-arrow-width: 10px;

$gallery-item-height: 300px;


// Effects
//////////////////////////////////////////////////////

$transition-duration: 0.3s;
$transition-timing-function: ease-out;
$transition-delay: 0s;

$shadow-coords-x: 0;
$shadow-coords-y: 2px;
$shadow-size: 8px;
$shadow-stretch: 0;

$text-shadow-coords-x: 0;
$text-shadow-coords-y: 1px;
$text-shadow-size: 4px;

$image-hover-scale: 1.1;


// Override Bootstrap variables
//////////////////////////////////////////////////////

$link-color: $main-color;
$link-hover-color: $main-color;

$border-radius-base: 0;
$border-radius-xs: 2px;
$border-radius-small: 2px;
$border-radius-large: 3px;

$dropdown-bg: $white;
$dropdown-border: $input-border;
$dropdown-link-hover-bg: fade-out($second-color, 0.5);
$dropdown-link-color: $text-color;
$dropdown-link-hover-color: $text-color;

$caret-width-base: 5px;

$input-color-placeholder: $gray;
$input-color: $text-color;
$input-bg: $white;
$input-border: $gray-light;
$input-border-focus: $gray;

$modal-backdrop-opacity: 1;
$modal-backdrop-bg: #f3f3f3;
$modal-lg: 496px;
$modal-md: $modal-lg;
$modal-inner-padding: $size / 2;
$modal-title-padding: $modal-inner-padding;

$pagination-color: $main-color;
$pagination-hover-color: $main-color;
$pagination-active-bg: $main-color;
$pagination-active-border: $main-color;
$pagination-hover-bg: transparent;
$pagination-border: $gray-light;
$pagination-hover-border: $gray-light;

$popover-max-width: 300px;


// Bootstrap Colors

$brand-primary: $main-color;
$brand-success: $second-color;
$brand-info: $blue;
$brand-warning: $yellow;
$brand-danger: darken($red, 20%);

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-primary-text:             darken($brand-primary, 5%);
$state-primary-bg:               fade-out($brand-primary, 0.75);
$state-primary-border:           darken(adjust-hue($state-primary-bg, -10), 20%);

$state-success-text:             darken($brand-success, 5%);
$state-success-bg:               fade-out($brand-success, 0.75);
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                darken($brand-info, 5%);
$state-info-bg:                  fade-out($brand-info, 0.75);
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             darken($brand-warning, 5%);
$state-warning-bg:               fade-out($brand-warning, 0.75);
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              darken($brand-danger, 5%);
$state-danger-bg:                fade-out($brand-danger, 0.75);
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);

/*
$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;
*/
$padding-small-vertical:    10px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       5px;
$padding-xs-horizontal:     5px;
/*
$line-height-large:         1.33;
$line-height-small:         1.5;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
$input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);

$tooltip-bg: $white;
$tooltip-arrow-color: $white;
$tooltip-color: $text-color;
$tooltip-opacity: 1;
$tooltip-arrow-width: 5px;
$tooltip-max-width: 300px;

*/

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !global;
// Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !global;
// Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !global;

// Small screen / tablet
// Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !global;
$screen-sm-min:              $screen-sm !global;
// Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !global;

// Medium screen / desktop
// Deprecated `$screen-md` as of v3.0.1
$screen-md:                  1060px !global;
$screen-md-min:              $screen-md !global;
// Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !global;

// Large screen / wide desktop
// Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1380px !global;
$screen-lg-min:              $screen-lg !global;
// Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !global;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !global;
$screen-sm-max:              ($screen-md-min - 1) !global;
$screen-md-max:              ($screen-lg-min - 1) !global;


// Container sizes

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width));
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width));
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      ((1280px + $grid-gutter-width));
$container-lg:                 $container-large-desktop;

$content-container-sm: 720px;
$content-container-md: 940px;
$content-container-lg: 1140px;


// Slick Carousel Variables

$slick-font-path: "";
$slick-font-family: "";
$slick-loader-path: "../bower_components/slick-carousel/slick/";
$slick-arrow-color: $main-color;
$slick-dot-color: $main-color;
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: "";
$slick-next-character: "";
$slick-dot-character: "•";
$slick-dot-size: 7px;
$slick-opacity-default: 0.31;
$slick-opacity-on-hover: 0.62;
$slick-opacity-not-active: 0.31;
