// Основной шаблон
//////////////////////////////////////////////////////


.panel-open {
    .page__panel {
        @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-light-color);
    }
}

.page {

    $panel-width-tablet: 320px;
    $panel-width-mobile: 100%;
    $header-height: 80px;
    $header-height-mobile: 55px;
    $footer-height: 350px;
    $footer-height-mobile: 750px;

    // Кнопки панели
    #panelOpen, #panelClose {
        position: absolute;
        top: 3px;
        left: 0;
        text-align: center;
        font-size: $font-size-large;
        color: $gray-light;
        @include size($size * 2, $size * 2);
        @include transition(opacity $transition-duration $transition-timing-function $transition-delay);

        @include lg-and-md {
            @include opacity(0);
        }

        @include sm {
            top: 0;
        }

        @include mobile {
            top: 0;
        }
    }
    #panelClose {
        display: none;
    }

    &__overlay {
        @extend %overlay;
        display: none;
        background: $modal-backdrop-bg;
        z-index: $overlay-layout;
        @include opacity(0);
    }

    &__panel {
        position: fixed;
        top: 0;
        left: -1 * $panel-width-mobile;
        bottom: 0;
        background: $white;
        padding-top: $header-height;
        width: $panel-width-mobile;
        z-index: $panel-layout;

        @include md-and-sm {
            width: $panel-width-tablet;
            left: -1 * $panel-width-tablet;
        }

        @include mobile {
            padding-top: $header-height-mobile;
        }

        ul {
            > li {
                padding: 0;
                border-bottom: 1px solid $border-color;

                &.active {
                    background: $background-color;

                    a {
                        color: $main-color;
                        border-left: ($size / 4) solid $main-color;
                    }
                }

                a {
                    display: block;
                    color: $text-color;
                    @include text($font-size-small, $sans-regular-font-weight);
                    line-height: $header-height-mobile;

                    &:hover, &:active {
                        color: $main-color;
                        background: $background-color;
                    }

                    @include sm {
                        padding: 0 0 0 ($grid-gutter-width * 2);
                    }

                    @include xs {
                        padding: 0 0 0 $grid-gutter-width;
                    }
                }
            }
        }
    }

    &__content {
        position: relative;
        padding-bottom: $footer-height + 150px;

        @include mobile {
            padding-top: $header-height-mobile;
            padding-bottom: $footer-height-mobile + ($size * 2);
        }
    }

    // Фиксированный хедер
    .fixed-header {
        box-sizing: content-box;
        position: relative;
        color: $text-color;
        background: $white;
        z-index: $fixed-layout;
        padding-top: 170px;
        background: url(#{$image-path}pattern-01.png) $white 100% 0 no-repeat;
        @include size(100%, $header-height);
        line-height: $header-height;
        @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-light-color);

        nav {
            position: relative;
        }

        .logo {
            position: absolute;
            left: 0;
            top: -160px;
            color: $text-color;
            display: inline-block;
            background: url(#{$image-path}spartak-logo-full.svg) transparent 0 0 no-repeat;
            background-size: contain;
            @include size(200px, 225px);
            @include transition(left $transition-duration $transition-timing-function $transition-delay);
        }

        .right-controls {
            float: right;
            height: $header-height;
            line-height: $header-height;

            .login {
                display: inline-block;
                vertical-align: top;
                position: relative;
                top: -2px;
                background: transparent;
                display: inline-block;
                vertical-align: middle;
                font-size: $font-size-large;
                color: $gray-light;
                border: 2px solid $gray-light;
                text-align: center;
                @include size(48px, 48px);
                line-height: 42px;
                @include border-radius(24px);

                &:hover{
                    color: $active-color;
                    border: 2px solid $main-color;
                    @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size * 2, $shadow-stretch, $shadow-color);
                }

                @include mobile {
                    font-size: $font-size-normal;
                    @include size(38px, 38px);
                    line-height: 34px;
                }
            }

            // User Profile
            .profile {
                position: relative;
                display: inline-block;
                vertical-align: top;

                .dropdown-toggle {
                    position: relative;
                    top: -2px;
                    background: transparent;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: $font-size-large;
                    color: $gray-light;
                    border: 2px solid $gray-light;
                    text-align: center;
                    @include size(48px, 48px);
                    line-height: 40px;
                    @include border-radius(24px);

                    &:hover{
                        color: $active-color;
                        border: 2px solid $main-color;
                        @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size * 2, $shadow-stretch, $shadow-color);
                    }

                    @include mobile {
                        font-size: $font-size-normal;
                        @include size(38px, 38px);
                        line-height: 34px;
                    }
                }
            }
        }

        &.scroll {
            background: $white;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding-top: 0;

            .logo {
                top: 10px;
                background: url(#{$image-path}spartak-logo-min.svg) transparent 0 0 no-repeat;
                background-size: contain;
                @include size(31px, 50px);
            }
        }

        @include xs {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding-top: 0;
        }

        @media (max-width: ($screen-md + 250px)) {
            background: url(#{$image-path}pattern-01-min.png) $white 100% 0 no-repeat;
        }

        @include sm {
            @include box-shadow-custom(0, 0, 0, 0, transparent);

            .container {
                position: relative;

                .tablet-decor-wrapper {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    .tablet-decor {
                        background: $border-color;
                        @include size(100%, 1px);
                    }
                }
            }

            &.scroll {
                @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-light-color);

                .logo {
                    left: 50px;
                }

                #panelOpen, #panelClose {
                    @include opacity(1);
                }

                .tablet-decor-wrapper {
                    display: none !important;
                }
            }
        }

        @include mobile {
            background: $white;
            line-height: $header-height-mobile;
            @include size(100%, $header-height-mobile);

            .logo {
                left: 50px;
                top: 1px;
                background: url(#{$image-path}spartak-logo-min.svg) transparent 0 0 no-repeat;
                background-size: contain;
                @include size(31px, 50px);
            }

            .right-controls {
                height: $header-height-mobile;
                line-height: $header-height-mobile;
            }
        }
    }

    // Верхнее меню

    .top-menu-tablet-wrapper {
        position: relative;
        background: $white;
        @include box-shadow-custom(0, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-light-color);

        .top-menu {

            > li {
                margin-right: $size;

                &:not(:first-child) {
                    margin-left: $size;

                    @include sm {
                        margin-left: $size / 2;
                    }
                }

                a {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    .top-menu {
        display: inline-block;
        vertical-align: top;
        margin-left: 175px;

        > li {
            display: inline-block;
            vertical-align: top;

            &:hover {
                a {
                    border-bottom: ($size / 4) solid $gray-light;
                }
            }

            &.active {
                a {
                    color: $main-color;
                    border-bottom: ($size / 4) solid $main-color;
                }
            }

            a {
                display: block;
                padding-left: $size;
                padding-right: $size;
                border-top: ($size / 4) solid transparent;
                border-bottom: ($size / 4) solid transparent;
                color: $text-color;
                @include text($font-size-small, $sans-regular-font-weight);
                line-height: $header-height - ($size / 2);

                &:hover, &:active {
                    color: $main-color;
                }
            }
        }

        @include sm {
            display: block;
            margin-left: 0;

            > li {
                a {
                    line-height: 50px;
                }
            }
        }
    }

    main {}

    footer {
        box-sizing: content-box;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 150px;
        z-index: $overlay-layout - 50;
        @include gradient-directional(lighten($main-color, 0), lighten(darken($main-color, 10%), 20%), 80deg);
        @include size(100%, $footer-height);
        @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-light-color);

        .overlay-01 {
            background: url(#{$image-path}pattern-01.png) transparent 100% 0 no-repeat;
        }
        .overlay-02 {
            background: url(#{$image-path}pattern-02.png) transparent 100% 100% no-repeat;
        }

        address {
            padding-top: 120px;
        }

        ul {
            position: relative;

            > li {
                color: $white;

                &:last-child {
                    position: absolute;
                    right: 100px;
                    bottom: 0;
                    color: $main-color;
                    font-weight: $sans-bold-font-weight;

                    @include mg {
                        right: 40px;
                    }

                    @include mobile {
                        right: 130px;
                        bottom: 0;
                    }
                }

                h3 {
                    color: $white;
                    @include text($font-size-normal, $sans-bold-font-weight);
                }
                h4 {
                    color: $white;
                    @include text($font-size-small, $sans-bold-font-weight);
                }

                a {
                    color: $white;
                    text-decoration: underline;
                    @include text($font-size-small, $sans-bold-font-weight);

                    &:hover, &:active {
                        text-decoration: none;
                    }
                }
            }
        }

        @include mobile {
            padding-top: $size;
            padding-bottom: $size;
            @include size(100%, $footer-height-mobile);

            address {
                padding-top: 170px;
            }

            ul {
                position: relative;
                line-height: $size * 2;
                padding-bottom: 37px + ($size * 2.5);

                > li {
                    display: block;

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}