    <section class="section-map">
        <div id="map"></div>
        <div class="section-map__block">
            <div class="overlay"></div>
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i>Как нас найти?</h3>
            <p>Ул. Чайковского, д 63, лит. А<br />(Во дворе, рядом с метро "Чернышевская")<br />191194 Санкт-Петербург, Россия</p>
        </div>
    </section>