<div class="modal fade" id="modal-template" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-template">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Название модали</h3>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-close"></span></a>
            </div>
            <div class="modal-body">
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве. Об этом заявил, по словам депутатов, министр обороны Сергей Шойгу в ходе закрытого правительственного часа в Госдуме.</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-auth" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-auth">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Вход</h3>
                <!--<h3 class="modal-title">Регистрация</h3>-->
                <!--<h3 class="modal-title">Напомнить пароль</h3>-->
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-close"></span></a>
            </div>
            <div class="modal-body">
                <form class="form form-style">
                    <div class="form-group pendant-help-block">
                        <input type="text" class="form-control" placeholder="Электронная почта" />
                    </div>
                    <div class="form-group pendant-help-block">
                        <input type="password" class="form-control" placeholder="Пароль" />
                    </div>
                    <div class="form-group">
                        <a href="#" class="modal-link">Напомнить пароль</a>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><a href="#" role="button" class="btn btn-xs btn-block btn-main">Зарегистрироваться</a></div>
                            <div class="col-xs-12 col-sm-6"><a href="#" role="button" class="btn btn-xs btn-block btn-second">Войти</a></div>
                        </div>
                    </div>
                </form>
                <form class="form form-style">
                    <div class="form-group pendant-help-block has-error">
                        <input type="text" class="form-control" placeholder="Ваше имя" />
                        <span class="help-block">Заполните это поле!</span>
                    </div>
                    <div class="form-group pendant-help-block">
                        <input type="text" class="form-control" placeholder="Ваша фамилия" />
                    </div>
                    <div class="form-group pendant-help-block">
                        <input type="text" class="form-control" placeholder="Телефон" />
                    </div>
                    <div class="form-group pendant-help-block">
                        <input type="text" class="form-control" placeholder="Электронная почта" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" />Запомнить пароль</label>
                        </div>
                        <p class="small">На ваш емейл будет выслад сгенерированный пароль.</p>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><a href="#" role="button" class="btn btn-xs btn-block btn-gray">Вернуться</a></div>
                            <div class="col-xs-12 col-sm-6"><a href="#" role="button" class="btn btn-xs btn-block btn-second">Зарегистрироваться</a></div>
                        </div>
                    </div>
                </form>
                <form class="form form-style">
                    <div class="form-group pendant-help-block">
                        <input type="text" class="form-control" placeholder="Ваша электронная почта" />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6"><a href="#" role="button" class="btn btn-xs btn-block btn-gray">Вернуться</a></div>
                            <div class="col-xs-12 col-sm-6"><a href="#" role="button" class="btn btn-xs btn-block btn-second">Напомнить пароль</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-checkout" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-checkout">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Проверка</h3>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-close"></span></a>
            </div>
            <div class="modal-body">
                <p>Наименование услуги</p>
                <p>Сумма к оплате: <strong>12345 руб.</strong></p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-6"><a href="#" role="button" class="btn btn-xs btn-block btn-main">Оплатить сейчас</a></div>
                    <div class="col-xs-12 col-sm-6"><a href="#" role="button" class="btn btn-xs btn-block btn-second">Оплатить позже</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-call" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-call">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Заказать звонок</h3>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon icon-close"></span></a>
            </div>
            <div class="modal-body">
                <form class="form form-style">
                    <div class="form-group pendant-help-block">
                        <input type="text" class="form-control" placeholder="Ваше имя" />
                    </div>
                    <div class="form-group pendant-help-block">
                        <input type="password" class="form-control" placeholder="Номер телефона" />
                    </div>
                    <div class="form-group">
                        <a href="#" role="button" class="btn btn-xs btn-block btn-main">Отправить заявку</a>
                    </div>
                </form>
                <p>Благодарим, мы свяжемся с Вами в ближайшее время</p>
            </div>
            <div class="modal-footer">
                <a href="#" role="button" data-dismiss="modal" class="btn btn-xs btn-block btn-main">Закрыть</a>
            </div>
        </div>
    </div>
</div>