
<!-- Последовательность на десктопе: A B B A ... в A - лежат по два .item-small -->
<div class="sequence-container visible-lg">

    <div class="sequence-block sequence-first">

        {{ Parts.NewsItem('small', 6) }}

        {{ Parts.NewsItem('small', 5) }}

    </div
    ><div class="sequence-block sequence-second">

        {{ Parts.NewsItem('large', 4) }}

    </div
    ><div class="sequence-block sequence-second">

        {{ Parts.NewsItem('large', 3) }}

    </div
    ><div class="sequence-block sequence-first">

        {{ Parts.NewsItem('small', 2) }}

        {{ Parts.NewsItem('small', 1) }}

    </div>
</div>

<!-- Последовательность на планшетах: B A A B ... в каждом .sequence-block - ВНИМАНИЕ! - лежит один .item - большой или маленький -->
<div class="sequence-container visible-md">

    <div class="sequence-block sequence-second">

        {{ Parts.NewsItem('large', 6) }}

    </div
    ><div class="sequence-block sequence-first">

        {{ Parts.NewsItem('small', 5) }}

    </div
    ><div class="sequence-block sequence-first">

       {{ Parts.NewsItem('small', 4) }}

    </div
    ><div class="sequence-block sequence-second">

        {{ Parts.NewsItem('large', 3) }}

    </div
    ><div class="sequence-block sequence-second">

        {{ Parts.NewsItem('large', 2) }}

    </div
    ><div class="sequence-block sequence-first">

        {{ Parts.NewsItem('small', 1) }}

    </div>
</div>

<!-- Последовательность на больших мобилах: A B ... в A - лежат по два .item-small -->
<div class="sequence-container visible-xs visible-sm">

    <div class="sequence-block sequence-first">

        {{ Parts.NewsItem('small', 6) }}

        {{ Parts.NewsItem('small', 5) }}

    </div
    ><div class="sequence-block sequence-second">

        {{ Parts.NewsItem('large', 4) }}

    </div
    ><div class="sequence-block sequence-first">

        {{ Parts.NewsItem('small', 3) }}

        {{ Parts.NewsItem('small', 2) }}

    </div
    ><div class="sequence-block sequence-second">

        {{ Parts.NewsItem('large', 1) }}

    </div>
</div>