
// Верхнее меню
{% macro ТоpMenuContent() %}
    <li class="active"><a href="#">Главная</a></li
    ><li><a href="#">Клуб</a></li
    ><li><a href="#">Фехтование</a></li
    ><li><a href="#">Аренда зала</a></li
    ><li><a href="#">СПА</a></li
    ><li><a href="#">Новости</a></li
    ><li><a href="#">Контакты</a></li>
{% endmacro %}

// Дропдаун профиля
{% macro ProfileDropdown() %}
    <div class="dropdown profile">
        <a href="#" class="dropdown-toggle sr-only" type="button" data-toggle="dropdown"><span class="icon icon-profile"></span></a>
        <div class="dropdown-menu pull-right">
            <li><a href="#">Мои заказы</a></li>
            <li><a href="#">Профиль</a></li>
            <li><a href="#">Выход</a></li>
        </div>
    </div>
{% endmacro %}

// Тренер
{% macro Coach() %}
    <div class="swiper-slide">
        <div class="container">
            <div class="coach" id="coach-01">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="image"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="coach__text">
                            <h3>Зарецкая Анна Сергеевна</h3>
                            <h4>Тренер-преподаватель по фехтованию на саблях групп для взрослых и ветеранов.</h4>
                            <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

// Тренер
{% macro Sportsman() %}
    <div class="swiper-slide">
        <div class="sportsman" id="sportsman-01">
            <div class="image"></div>
            <div class="sportsman__text">
                <h3>Зарецкая Анна Сергеевна</h3>
                <h4>Тренер-преподаватель по фехтованию на саблях групп для взрослых и ветеранов.</h4>
                <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта.</p>
            </div>
        </div>
    </div>
{% endmacro %}

// Видео в галлерее
{% macro VideoItem() %}
    <div class="photoswipe-item">
        <a href="#" class="video" id="gallery-video-01" data-type="video" data-video='<div class="wrapper"><div class="video-wrapper"><iframe class="pswp__video" width="960" height="460" src="https://www.youtube-nocookie.com/embed/iP2JGliTdvw?rel=0" frameborder="0" allowfullscreen></iframe></div></div>'>
            <img src="http://placehold.it/960x640?text=YouTube" class="img-responsive" />
        </a>
    </div>
    <div class="overlay"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
{% endmacro %}

// Картинка в галлерее
{% macro ImageItem() %}
    <div class="photoswipe-item">
        <a class="image" id="gallery-image-01" href="https://www.w3schools.com/css/img_fjords.jpg">
            <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Image description" class="img-responsive" />
        </a>
    </div>
{% endmacro %}

// Блок новости маленький
{% macro NewsItem(size="", id="") %}
    {% if size == "small" %}
    <div class="news news--small" id="item-00{{ id }}">
    {% elif size == "large" %}
    <div class="news news--large" id="item-00{{ id }}">
    {% endif %}
        <div class="news__image"></div>
        <div class="news__info">
            <div class="news__date">0{{ id }}.03.18</div>
            <h3>Заголовок новости</h3>
            <p>Российская армия готова к любому развитию событий на Украине и в мире, а российская оборонная промышленность к быстрому замещению импорта, в том числе с Украины, в военном производстве.</p>
            <a href="#" class="btn btn-xs btn-white">Читать статью</a>
        </div>
    </div>
{% endmacro %}

// Карточка абонимента
{% macro Ticket(time="", price="", btncolor="") %}
    <div class="ticket card">
        <div class="ticket__header">
            {% if time == 0 %}
            <h4>Разовое посещение</h4>
            <h5>в любой день</h5>
            {% else %}
            <h4>Абонимент</h4>
            {% if time == 12 %}
            <h4>на 1 год</h4>
            {% elif time == 6 %}
            <h4>на 6 месяцев</h4>
            {% elif time == 3 %}
            <h4>на 3 месяца</h4>
            {% else %}
            <h4>на 1 месяц </h4>
            {% endif %}
            {% if time == 1 %}
            <h5>2 занятия в неделю</h5>
            {% elif time == 1.5 %}
            <h5>4 занятия в неделю</h5>
            {% else %}
            <h5>n занятий в неделю</h5>
            {% endif %}
            {% endif %}
        </div>
        <div class="ticket__price">{{ price }}</div>
        {% if btncolor == 1 %}
        <a href="#" class="btn btn-sm btn-block btn-main">Купить</a>
        {% elif btncolor == 2 %}
        <a href="#" class="btn btn-sm btn-block btn-second">Купить</a>
        {% elif btncolor == 3 %}
        <a href="#" class="btn btn-sm btn-block btn-third">Купить</a>
        {% endif %}
    </div>
{% endmacro %}

// Заказ
{% macro Order(type="", open="") %}
    {% if not open %}
        {% if type == "success" %}
        <div class="order card order--success">
        {% elif type == "processing" %}
        <div class="order card order--processing">
        {% elif type == "deleted" %}
        <div class="order card order--deleted">
        {% endif %}
    {% else %}
        {% if type == "success" %}
        <div class="order card order--success order--open">
        {% elif type == "processing" %}
        <div class="order card order--processing order--open">
        {% elif type == "deleted" %}
        <div class="order card order--deleted order--open">
        {% endif %}
    {% endif %}
        <div class="order__header">
            <div class="order__status">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            <h5>Заказ №123</h5>
            <h6>от 13.03.18</h6>
            <h4><span class="hidden-xs">Сумма заказа: </span><span class="value">1234 руб.</span></h4>
        </div>
        <div class="order__body">
            <div class="order__body-block">
                <h4><span class="label">Услуга: </span>Аренда большого зала</h4>
            </div>
            <div class="order__body-block">
                <h4><span class="label">Дополнительные сведения:</span></h4>
                <div class="order__body-block-second">
                    <h5><span class="label">Дата: </span>13 марта 2017</h5>
                    <h5><span class="label">Время: </span>16:00 - 18:00</h5>
                    <h5><span class="label">Количество часов: </span>2</h5>
                    <h5><span class="label">Стоимость одного часа: </span>3 000 руб.</h5>
                    <h5><span class="label">Общая стоимость: </span>6 000 руб.</h5>
                </div>
            </div>
            <div class="order__body-block order__body-status">
                <h4>Cтатус заказа: Оплачено</h4>
                {% if type == "processing" %}
                <a href="#" class="btn btn-sm btn-main">Оплатить<span class="hidden-xs"> заказ</span></a>
                {% endif %}
            </div>
            <div class="order__body-block order__body-info">
                <h4><span class="label">Cведения об оплате: </span>Оплата поступила 10 марта 2018 года в 21.23</h4>
            </div>
            <div class="order__body-block order__footer">
                <div class="pull-right">
                    <a href="#" class="btn btn-xs btn-gray"><i class="fa fa-times" aria-hidden="true"></i>Отменить<span class="hidden-xs"> заказ</span></a
                    ><a href="#" class="btn btn-xs btn-gray"><i class="fa fa-print" aria-hidden="true"></i>Распечатать<span class="hidden-xs"> заказ</span></a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

// Блок фильтра
{% macro FilterBlock(header="", labels=[], more=true, visible=5) %}
<div class="filter-block">
    <a href="#" class="filter-block__header">{{ header }}</a>
    <ul class="filter-block__list">
        {% set counter=1 %}
        {% for item in labels %}
        <li {% if counter > visible %}class="more"{% endif %}>
            <div class="checkbox">
                <label><input type="checkbox" />{{ item }}</label>
            </div>
        </li>
        {% set counter=counter+1 %}
        {% endfor %}
    </ul>
    {% if more %}<a href="#" class="filter-block__more">more</a>{% endif %}
</div>
{% endmacro %}

// Фильтр
{% macro Filter() %}
    {% set labels1= ['B2C', 'VSB', 'SMB', 'Enterprise', 'Internal', 'B2C', 'VSB', 'SMB'] %}
    {{ FilterBlock('Segment', labels1, true, 5) }}
    {% set labels2= ['Гайдлайн', 'Темплейт', 'Иконка', 'Иллюстрация', 'Фотография', 'Иконка', 'Иллюстрация', 'Фотография'] %}
    {{ FilterBlock('Asset Type', labels2, true, 5) }}
    {% set labels3= ['Consumer', 'Partner', 'Expert'] %}
    {{ FilterBlock('Channel', labels3, false, 3) }}
    {% set labels4= ['RU', 'EN', 'UK', 'JP', 'EN', 'UK'] %}
    {{ FilterBlock('Language', labels4, true, 4) }}
{% endmacro %}