{% import "./parts/parts.html" as Parts %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Spartak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <script>
        var ieVersion = (function() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE');
            if (msie > 0) {
                return parseInt (ua.substring(msie + 5, ua.indexOf('.', msie)));
            }
            if (ua.indexOf('Trident/7.0') + 1) {
                return 11;
            }
            return 0;
        })();
        if (ieVersion && ieVersion < 9) {
            location.href = './legacy.html';
        }
    </script>

    <link href="./css/main{{ ".min" if NODE_ENV == "production" else "" }}.css" rel="stylesheet" type="text/css" />

    <!--[if lt IE 10]>
        <script src="./js/respond{{ ".min" if NODE_ENV == "production" else "" }}.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">

    <link href="./img/favicon.png" rel="icon" type="image/png" />
</head>
<body>

    <!-- page content -->

    {% block template %}
    <div class="page">
    {% endblock %}

        <div class="page__overlay"></div>

        <div class="page__panel">
            <nav role="navigation">
                <ul role="menu">
                    {{ Parts.ТоpMenuContent() }}
                </ul>
            </nav>
        </div>

        <div class="page__content">

            <header class="fixed-header">
                <div class="container">

                    <nav role="navigation">
                        <a href="#" id="panelOpen" class="hidden-lg"><span class="icon icon-navicon"></span></a>
                        <a href="#" id="panelClose" class="hidden-lg"><span class="icon icon-close"></span></a>
                        <a href="#" class="logo" role="banner"></a>
                        <ul class="top-menu visible-md-inline-block visible-lg-inline-block" role="menu">
                            {{ Parts.ТоpMenuContent() }}
                        </ul>
                        <div class="right-controls">
                            <a href="#" class="login modal-auth-trigger"><span class="icon icon-login"></span></a>
                        </div>
                    </nav>
                    <div class="tablet-decor-wrapper visible-sm">
                        <div class="container-fluid">
                            <div class="tablet-decor"></div>
                        </div>
                    </div>

                </div>
            </header>

            <main role="main">

                <div class="top-menu-tablet-wrapper visible-sm">
                    <div class="container">
                        <nav role="navigation">
                            <ul class="top-menu" role="menu">
                                {{ Parts.ТоpMenuContent() }}
                            </ul>
                        </nav>
                    </div>
                </div>

                {% block content %}
                {% endblock %}

            </main>

            <footer role="contentinfo">
                <div class="overlay overlay-01"></div>
                <div class="overlay overlay-02"></div>
                <div class="container">
                    <nav role="navigation">
                        <address>
                            <ul role="menu">
                                <li><h3>Специализированная детско-юношеская школа<br />Олимпийского резерва профсоюзов по фехтованию "Спартак",<br />Санкт-Петербург</h3></li>
                                <li><h4>Директор - заслуженный тренер России Тойсова Роза Михайловна</h4></li>
                                <!--<li><p>Ул. Чайковского, д 63, лит. А (Во дворе, рядом с метро "Чернышевская")<br />191194 Санкт-Петербург, Россия</p></li>-->
                                <li><h3>тел. (812) 937-81-94, 273-61-68</h3></li>
                                <li><a href="https://vk.com/club17404109">Группа ВКонтакте</a></li>
                                <li>© 2017 Spartak</li>
                            </ul>
                        </address>
                    </nav>
                </div>
            </footer>
        </div>

    </div>

    {% block photoswipe %}
    {% endblock %}

    <!-- modals -->

    {% block modals %}
        {% include "./parts/modals.html" %}
    {% endblock %}

    <!-- /modals -->

    <!-- /page content -->

    <script src="./js/app{{ ".min" if NODE_ENV == "production" else "" }}.js"></script>

    <script>var debug = {{ "false" if NODE_ENV == "production" else "true" }};</script>

    <script>
        {% block scripts %}
        DesignLayout.init({
            debug: debug
        });
        {% endblock %}
    </script>

    {% block map %}
    {% endblock %}

    {% if LIVERELOAD %}
        <script src="//127.0.0.1:35729/livereload.js"></script>
    {% endif %}
</body>
</html>
