// Bootsrap Customize
//////////////////////////////////////////////////////

// Основной контейнер - резиновый везде кроме больших десктопов
.container {
    @include not-lg {
        width: auto;
    }

    @include md-and-sm {
        padding-left: ($grid-gutter-width * 2);
        padding-right: ($grid-gutter-width * 2);
    }

    @include mobile {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
    }

    &.skinny-sm {
        max-width: $container-tablet;
    }

    &.skinny-md {
        max-width: $container-desktop;
    }
}

// Мобильные отступы по горизонтали во всех контейнерах
@include mobile {

    .container,
    .container-fluid,
    .dropdown-menu > li > a {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
    }
    .alert {
        padding: $grid-gutter-width;
    }
}

// Кнопки
.btn {
    border: none;
    text-decoration: none;
    padding-left: $size * 2;
    padding-right: $size * 2;
    @include border-radius ($border-radius-base);
    @include text($font-size-small, $sans-regular-font-weight);
    //@include transition(opacity $transition-duration $transition-timing-function $transition-delay);

    &:hover {
        @include opacity(0.85);
    }

    &:active {
        @include box-shadow-inset-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, transparent);
    }

    &.btn-lg {
        text-transform: uppercase;
        @include border-radius ($border-radius-large);
        @include text($font-size-large, $sans-bold-font-weight);

        @include not-mobile {
            padding-left: $size * 4;
            padding-right: $size * 4;
        }
    }
    &.btn-sm {
        @include border-radius ($border-radius-small);
        @include text($font-size-normal, $sans-bold-font-weight);
    }
    &.btn-xs {
        padding-left: $size / 2;
        padding-right: $size / 2;
        @include border-radius ($border-radius-xs);
        @include text($font-size-small, $sans-bold-font-weight);
    }

    &.btn-main {
        @include btn-color($white, lighten($main-color, 5%));
    }
    &.btn-second {
        @include btn-color($white, $second-color);
    }
    &.btn-third {
        @include btn-color($white, $third-color);
    }
    &.btn-gray {
        @include btn-color($white, $gray-light);
    }
    &.btn-white {
        @include btn-color($text-color, $white);
    }
    &.btn-admin {
        @include btn-color($white, $admin-color);
    }
}

.btn-block + .btn-block {
    margin-top: $size / 2;
}

// Выключенные кнопки
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    @include opacity(0.5);
}

// Поля ввода

.form-control {
    max-height: 34px * 4 + 14;
    border: $border-width solid $input-border;
    line-height: $input-height-base;
    height: $input-height-base + ($padding-base-vertical * 2) + ($border-width * 2);
    @include border-radius($border-radius-base);
    @include text($font-size-normal, $sans-regular-font-weight);
    @include box-shadow-custom(0, 0, 0, 0, transparent);
    @include transition(border-color $transition-duration $transition-timing-function $transition-delay);

    &:focus {
        @include box-shadow-custom(0, 0, 0, 0, transparent);
    }

    &:active, &:focus {
        outline: none !important;
        border: $border-width solid $input-border-focus;
    }

    &.input-lg {
        line-height: $input-height-large;
        @include text($font-size-normal, $sans-regular-font-weight);
    }

    &.input-sm {
        line-height: $input-height-small;
    }
}

.form-control-feedback {
    color: $input-color-placeholder;
    line-height: $input-height-base;
}

.has-feedback .form-control {
    padding-right: $input-height-base;
}

// Валидация контролов Bootstrap
.has-success {
    .help-block {
        color: $state-success-text;
    }
    .form-control {
        &, &:focus {
            border-color: $state-success-text;
        }
    }
}
.has-warning {
    .help-block {
        color: $state-warning-text;
    }
    .form-control {
        &, &:focus {
            border-color: $state-warning-text;
        }
    }
}
.has-error {
    .help-block {
        color: $state-danger-text;
    }
    .form-control {
        &, &:focus {
            border-color: $state-danger-text;
        }
    }
}
.has-success,
.has-warning,
.has-error {
    .form-control {
        &, &:focus {
            @include box-shadow-custom(0, 0, 0, 0, transparent);
        }
    }
}

.radio,
.checkbox {
    label {
        @include text($font-size-small, $sans-bold-font-weight);
        color: $gray-medium;
    }

    input[type="radio"],
    input[type="checkbox"] {
        top: 2px;
    }
}

.progress {
    position: relative;
    margin-bottom: 10px;
    @include box-shadow-custom(0, 0, 0, 0, transparent);

    .progress-bar {
        background: $main-color;
        @include box-shadow-custom(0, 0, 0, 0, transparent);
    }
}


// Navs Tabs

.nav-tabs {
    border-bottom: none;
    padding-top: $size * 3;
    padding-bottom: $size;

    > li {
        margin: 0;

        > a {
            background: transparent;
            color: $gray-medium;
            border: none;
            margin: 0;
            @include text($font-size-normal, $sans-bold-font-weight);

            &:hover,
            &:focus {
                background: transparent;
                color: $text-color;
                border: none;
                margin: 0;
            }
        }
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
            color: $main-color;
            background: transparent;
            border: none;
        }
        &:first-child > a {
            padding-left: 0;
        }
    }

    @media (max-width: $screen-xs) {
        > li {
            display: block;
            float: none;

            > a {
                padding-left: 0;
            }
        }
    }
}

.tab-content {
    .tab-pane {

        > .card {
            background: $background-color;
            min-height: 400px;
            padding-left: 0;
            padding-right: 0;
            padding-top: $size * 2;
            padding-bottom: $size * 2;
            margin-bottom: 0;

            @include mobile {
                padding-top: $size;
                padding-bottom: $size;
            }
        }

        .section-footer {
            padding-top: $size;
            padding-bottom: $size * 2;
        }

        .form.form-style {
            h4 {
                margin-top: 0;
                margin-bottom: $size;
                @include text($font-size-normal, $sans-bold-font-weight);
            }

            .label,
            .radio,
            .checkbox {
                display: inline-block;
                vertical-align: top;
                margin: 0;
                line-height: 48px;
            }

            .label {
                @include text($font-size-small, $sans-bold-font-weight);
                line-height: 48px;
                color: darken($gray-light, 10%);

                @include mobile {
                    display: block;
                }
            }

            .radio,
            .checkbox {
                margin-left: $size;

                @include mobile {
                    margin-left: 0;
                }

                & + .radio,
                & + .checkbox {
                    margin-top: 0;

                    @include mobile {
                        margin-left: $size;
                    }
                }

                label {
                    line-height: 48px;
                }

                input[type="radio"],
                input[type="checkbox"] {
                    top: 14px;
                }
            }

            .with-btn {
                text-align: center;
                padding-top: $size;
                padding-bottom: $size * 2;

                @include mobile {
                    .btn-lg {
                        width: 100%;
                        padding-left: $size;
                        padding-right: $size;
                    }
                }
            }
        }
    }
}

// Alerts

.alert {
    position: relative;
    border: none;
    text-align: left;
    @include border-radius($border-radius-base);

    .close {
        position: absolute;
        top: $size / 2;
        right: $size / 2;
    }
}

.alert-link {
    text-decoration: underline;
    color: inherit !important;
}


// Формы
.form {

    // Основной стиль для форм
    &.form-style {
        background: transparent;
        padding: 0;
        margin: 0;
        @include border-radius($border-radius-large);
        @include clearfix;

        .control-label {
            @include text($font-size-small, $sans-regular-font-weight);
        }

        &.form-horizontal {

            .control-label {

                @media (min-width: $screen-sm) {
                    height: $line-height-normal-custom + ($padding-base-vertical * 2) + ($border-width * 2);
                    line-height: $input-height-base;
                    padding: 0;
                }
            }

            .form-group {
                &.pendant-help-block,
                .pendant-help-block {

                    // Cообщение-подсказка
                    .help-block {
                        left: $grid-gutter-width / 2;
                    }
                }
            }

        }

        select[multiple] {
            padding-left: 0;
            padding-right: 0;

            option {
                padding-left: $padding-base-horizontal;
                padding-right: $padding-base-horizontal;
            }
        }


        &.labels-on-the-left {

            .control-label {
                margin-bottom: 0;

                @include not-xs {
                    text-align: right;
                    height: $line-height-normal-custom + ($padding-base-vertical * 2) + ($border-width * 2);
                    line-height: $line-height-normal-custom + ($padding-base-vertical * 2) + ($border-width * 2);
                }
                @include mobile {
                    margin-bottom: $size / 4;
                }
            }
        }


        .form-group {
            margin-bottom: ($size / 4) + $line-height-xsmall-custom;

            // Подвешенное сообщение-подсказка для контролов
            &.pendant-help-block,
            .pendant-help-block {
                position: relative;

                // Cообщение-подсказка
                .help-block {
                    position: absolute;
                    bottom: -1 * $line-height-xsmall-custom;
                    left: 0;
                    margin: 0;
                    @include text($font-size-xsmall, $sans-regular-font-weight);
                    @include transition(background, $transition-duration, $transition-timing-function, $transition-delay);
                }
            }
        }
    }
}

// Dropdowns
//////////////////////////////////////////////////////

// Bootstrap caret to up
.dropdown.open {
    .dropdown-toggle .caret {
        @extend %caret-up;
    }
}

.dropdown {
    .dropdown-toggle {
        display: inline-block;
        @include text($font-size-small, $sans-regular-font-weight);
    }
}

// Дропдауны по умолчанию
.dropdown-menu {
    $dropdown-menu-maxheight: 420px;

    margin-top: 0;
    max-height: $dropdown-menu-maxheight;
    min-height: 200px;
    min-width: 1px;
    max-width: 320px;
    z-index: $popup-layout;
    padding: 0;
    border: 0;
    @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-color);

    &:before {
        position: absolute;
        top: -1 * $dropdown-arrow-width;
        left: 50%;
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 0;
        margin-left: -0.5 * $dropdown-arrow-width;
        color: $active-color;
        border-bottom: $dropdown-arrow-width dashed;
        border-bottom: $dropdown-arrow-width \9; // IE8
        border-right: $dropdown-arrow-width solid transparent;
        border-left: $dropdown-arrow-width solid transparent;
    }

    > li {
        a {
            padding-top: 10px;
            padding-bottom: 10px;
            @include link-style($text-color, false);
        }
    }

    .profile & {
        width: 150px;
        min-height: 1px;
        height: auto;
        padding-top: $size;
        padding-bottom: $size;

        &:before {
            left: auto;
            right: 14px;
        }

        @include mobile {
            right: -5px;
        }
    }

    @include mobile {
        margin-top: 7px;
    }
}

// Для "выбранных пунктов меню" - класс .active
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: transparent;
    color: $disabled-color;
    cursor: default;
    pointer-events: none;
}

// Лечение стандартного поведения из Бурстрапа
.btn-group {
    &.open .dropdown-toggle {
        @include box-shadow-inset-custom(0, 0, 0, 0, transparent);
    }
}
// Лечение проблемы с закрытием дропдауна на мобильных на Android и ioS
.dropdown-backdrop {
    z-index: 0;
}

// Для дропдаунов выпадающих при наведении
.hover-dropdown {
    &.dropdown:hover > .dropdown-menu, {
        display: block;
    }
}


// Component animations
.fade {
    @include transition(opacity $transition-duration $transition-timing-function $transition-delay);
}


// Modals
//////////////////////////////////////////////////////

.modal-backdrop {
    z-index: $fixed-layout + 50;
}

// Модальное окно
.modal {
    z-index: $fixed-layout + 100;

    &.fade .modal-dialog {
        @include prefix(transform, translate(0, -25%), webkit moz ms o);
    }

    &.in .modal-dialog {
        @include prefix(transform, translate(0, 0), webkit moz ms o);
    }

    .modal-dialog {

        @include mobile {
            width: auto !important;
        }

        .modal-content {
            background: transparent;
            border: none;
            margin: 0 auto;
            text-align: left;
            @include border-radius($border-radius-base);
            @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-color);

            .modal-header {
                position: relative;
                z-index: $popup-layout + 50;
                border-bottom: none;
                background: $gray-lighter;
                padding: $size ($size * 3) $size ($size * 2.5);
                @include border-radius($border-radius-base);

                .modal-title {
                    @include text($font-size-normal, $sans-bold-font-weight);
                    color: $gray-medium;
                }

                .close {
                    position: absolute;
                    top: $size + 3px;
                    right: $size * 1.5;
                    color: $gray-medium;
                    font-size: $font-size-normal;

                    &:hover {
                        color: $main-color;
                    }
                }
            }

            .modal-body {
                position: relative;
                z-index: $popup-layout - 200;
                background: $white;
                padding: ($size * 1.5) ($size * 2.5) $size;
                @include border-radius(0);

                .modal-link {
                    @include text($font-size-small, $sans-bold-font-weight);
                }

                p {
                    @include text($font-size-normal, $sans-regular-font-weight);

                    &.small {
                        @include text($font-size-xsmall, $sans-regular-font-weight);
                    }
                }
            }

            .modal-footer {
                position: relative;
                z-index: $popup-layout + 50;
                background: $white;
                border-top: none;
                text-align: center;
                padding: 0 ($size * 2.5) ($size * 2);
                @include border-radius($border-radius-base);
            }

            .modal-body,
            .modal-footer {
                .btn-xs {
                    padding-top: ($size / 2) + 2px;
                    padding-bottom: ($size / 2) + 2px;
                }

                @include mobile {
                    .row > div:not(:first-child) .btn-xs {
                        margin-top: $size / 2;
                    }
                }
            }
        }
    }
}


// Пажинация
.pagination {
    margin-top: 0;
    margin-bottom: $size * 2;

    > li {
    }
}


//Таблицы
.schedule {
    padding: 0;
    margin-bottom: $size * 2;
    overflow-x: auto;

    .table {
        margin-bottom: 0;

        > thead > tr > th,
        > tbody > tr > td {
            min-width: 155px;
            padding: ($size / 4);

            &:first-child {
                min-width: 88px;
            }
        }

        .headers-double {
            display: none;

            @include sm-and-xs {
                display: table-header-group;
            }
        }

        > thead > tr {
            background: $gray-lighter;

            > th {
                border: none;
                color: $gray-medium;
                padding-top: $size / 2;
                padding-bottom: $size / 2;
                @include text($font-size-xsmall, $sans-regular-font-weight);

                .weekday {
                    @include text($font-size-small, $sans-bold-font-weight);
                }
            }
        }

        > tbody > tr {
            height: 141px;

            &:not(:last-child) {
                border-bottom: 1px solid $border-color;
            }

            > td {
                border: none;

                &:first-child {
                    padding-left: $size;
                    color: $gray-medium;
                    @include text($font-size-normal, $sans-bold-font-weight);
                    line-height: 131px;
                }

                .item {
                    width: 100%;
                    height: 63px;
                    max-width: 158px;
                    @extend %text-overflow;
                    display: block;
                    color: $white;
                    padding: 3px ($size / 2);
                    @include text($font-size-xsmall * 0.9, $sans-bold-font-weight);
                    margin-top: $size / 4;
                    white-space: normal;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}


// Попапы
.popover {
    border: none;
    @include border-radius(0);
    @include box-shadow-custom($shadow-coords-x, $shadow-coords-y, $shadow-size, $shadow-stretch, $shadow-color);

    .arrow {
        border: none;
    }

    .popover-content {
        @include text($font-size-small, $sans-regular-font-weight);
    }
}


// Каретка
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top:   $caret-width-base solid;
    border-right: $caret-width-base solid transparent;
    border-left:  $caret-width-base solid transparent;

    &.up {
        @extend %caret-up;
    }
}