// Seiyria Bootstrap Slider Customize
//////////////////////////////////////////////////////

/* Variables should be defined outside of this file     */
/* doing it here just to keep things together in github */
$slider-size: 15px;

.slider-block {
    position: relative;
    height: 90px;
    margin-bottom: $size * 2;
    padding-left: $size / 4;
    padding-right: $size / 2;

    .slider {
        position: relative;

        &.slider-horizontal {
            @include size(100%, $slider-size);

            .slider-track {
                @include size(100%, 5px);
                top: 50%;
                left: 0;
            }

            .slider-selection, .slider-track-left, .slider-track-right {
                height: 100%;
                top: 0;
                bottom: 0;
            }

            .slider-handle {
                margin-top: 3px;
            }
        }
    }

    .slider-track {
        background: darken($gray-light, 10%);
        position: absolute;
        cursor: pointer;
        @include box-shadow-custom(0, 0, 0, 0, transparent);
        @include border-radius(0);
    }

    .highlights {
        background: $text-color !important;
    }

    .slider-selection {
        background: $main-color;
        position: absolute;
        @include box-shadow-custom(0, 0, 0, 0, transparent);
        @include box-sizing(border-box);
        @include border-radius(0);
    }

    .slider-track-left, .slider-track-right {
        position: absolute;
        background: transparent;
        @include box-sizing(border-box);
        border-radius: border-radius(0);
    }

    .slider-handle {
        background: $main-color;
        position: absolute;
        border: none;

        &:focus {
            outline: none !important;
        }
    }

    .slider-handle,
    .slider-tick {
        margin-left: -5px;
        @include size($slider-size, $slider-size);
        @include border-radius(50%);
    }

    .slider-tick {
        background: darken($gray-light, 10%);
        position: absolute;
        top: 3px;
        display: inline-block;

        &.in-selection {
            background: $main-color;
        }
    }

    .slider-tick-label-container {
        position: absolute;
        bottom: -1.5 * $size;
        white-space: nowrap;
        margin-top: 20px;

        .slider-tick-label {
            padding-top: 4px;
            display: inline-block;
            text-align: center;
            position: relative;
            left: 4px;
            color: darken($gray-light, 10%);
            @include text($font-size-xsmall, $sans-bold-font-weight);
        }
    }

    .slider-value {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: $size / 2;
        @include text($font-size-normal, $sans-bold-font-weight);
    }

    @include mobile {
        margin-bottom: $size;

        .slider-value {
            text-align: left;
            margin-left: ($size / 4) * -1;
        }

        .slider-tick-label-container {
            display: none;
        }

        .slider-tick {
            top: 2px;
        }
    }
}